{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ form_row(form.name) }}
        {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
        {{ form_row(form.type) }}
        {% if form.config is defined -%}
            {{ form_row(form.config) }}
        {%- endif %}
    </div>
{%- endblock main_contents -%}
