<div data-id="{{ id }}" data-gtin="{{ gtin }}" data-zero="{{ initial == 0 ? 1 : 0 }}" data-bundle="{{ bundle == 1 ? 1 : 0 }}" data-valid="{{ real is null ? 0 : 1 }}" data-end-of-life="{{ end_of_life ? 1 : 0 }}" class="{{ state }}">
    <p>{{ designation }}</p>
    <div>
        <p>
            <span data-clipboard-copy="{{ reference }}">{{ reference }}</span><br>
            <span>{{ geocodes|join(', ') }}</span>
        </p>
        <p>
            <span>{{ initial }}</span><span>{{ real ?? '?' }}</span>
        </p>
        <p>
            <a href="javascript: void(0)"
               class="btn btn-{{ real is null ? 'primary' : 'default' }} count">
                <i class="fa fa-calculator"></i>
            </a>
            {% if real is null -%}
            <a href="javascript: void(0)"
               class="btn btn-success validate">
                <i class="fa fa-check"></i>
            </a>
            {%- endif %}
            {% if not end_of_life -%}
            <a href="javascript: void(0)"
               class="btn btn-danger end-of-life">
                <i class="fa fa-remove"></i>
            </a>
            {%- endif %}
        </p>
    </div>
</div>
