<tr data-id="{{ id }}">
    <td>{{ brand }}</td>
    <td><a href="{{ url }}">{{ designation }}</a></td>
    <td>{{ reference }}</td>
    <td class="text-right">{{ net_price }}</td>
    <td class="text-right">{{ weight }}</td>
    <td>{{ geocode }}</td>
    <td><span class="label label-{{ stock_mode_theme }}">{{ stock_mode_label }}</span></td>
    <td><span class="label label-{{ stock_state_theme }}">{{ stock_state_label }}</span></td>
    <td class="text-right">{{ stock_floor }}</td>
    <td class="text-right">{{ in_stock }}</td>
    <td class="text-right">{{ available_stock }}</td>
    <td class="text-right">{{ virtual_stock }}</td>
    <td class="text-right">{{ eda }}</td>
    <td class="text-right">{{ ordered }}{% if pending is not empty %} (+{{ pending }}){% endif %}</td>
    <td class="text-right">{{ received }}</td>
    <td class="text-right{% if sold_theme is not empty %} bg-{{ sold_theme }}{% endif %}">{{ sold }}</td>
    <td class="text-right">{{ shipped }}</td>
    <td class="text-right">
        {# TODO translations #}
        <div class="btn-group btn-group-xs">
            <a href="javascript: void(0)" class="btn btn-default quick-edit" title="Modifier">
                <i class="fa fa-pencil"></i>
            </a>
            <a href="javascript: void(0)" class="btn btn-default stock-units" title="Unités de stock">
                <i class="fa fa-tasks"></i>
            </a>
            <a href="javascript: void(0)" class="btn btn-default treatment" title="Commandes client">
                <i class="fa fa-user"></i>
            </a>
            <a href="javascript: void(0)" class="btn btn-default resupply" title="Commandes fournisseur">
                <i class="fa fa-truck"></i>
            </a>
        </div>
    </td>
</tr>
