<div class="form-group" data-id="{{ id }}" data-type="{{ type }}">
    <label class="control-label col-xs-2{% if required %} required{% endif %}">{{ label }}</label>
    <div class="col-xs-10">
        <select name="{{ parent }}[option_group_{{ id }}][choice]"
                {% if required %} required="required"{% endif %} class="sale-item-option form-control">
            {% if not required %}<option disabled="disabled" selected="selected" value="">{{ placeholder }}</option>{% endif %}
            {% for option in options %}<option value="{{ option.id }}" data-price="{{ option.price }}">{{ option.label }}</option>{% endfor %}
        </select>
    </div>
</div>
