<div class="form-group form-group-sm sale-item-pricing">
    <label class="control-label col-sm-6">{{ trans.total }}</label>
    <div class="col-sm-6">
    {% if detailed %}
        <div class="input-group input-group-sm">
            <span class="form-control">{{ totalPrice }}</span>
            <div class="input-group-btn dropup">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-info"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        {% if 0 < rules.length %}
                        <p>{{ trans.rule_table }}</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ trans.quantity }}</th>
                                <th>{{ trans.discount }}</th>
                                <th>{{ trans.unit_price }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rule in rules %}
                                <tr data-quantity="{{ rule.quantity }}" data-percent="{{ rule.percent }}"
                                    {% if rule.active == true %}class="success"{% endif %}>
                                    <td class="text">{{ rule.label }}</td>
                                    <td class="number">{{ rule.f_percent }}</td>
                                    <td class="number">{{ rule.f_price }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% if 0 < lines.length %}
                        <p>{{ trans.price_table }}</p>
                        <table class="table">
                            <tbody>
                            {% for line in lines %}
                                <tr{% if line.class %} class="{{ line.class }}"{% endif %}>
                                    <td class="text" width="80%">{{ line.label }}</td>
                                    <td class="number">{{ line.price }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <span class="form-control">{{ totalPrice }}</span>
    {% endif %}
    </div>
    {% if 1 < quantity or base > unit %}
    <div class="col-xs-12 sale-item-pricing-unit">
        Prix unit. HT
        {% if base > unit %}
            <em style="text-decoration: line-through">{{ basePrice }}</em>
        {% endif %}
        {{ unitPrice }}
    </div>
    {% endif %}
</div>

