<tr data-id="{{ id }}" data-summary='{{ {
    'route': 'admin_ekyna_product_product_summary',
    'parameters': {'productId': id}
}|json_encode }}'>
    <td class="input"><input name="id[]" type="checkbox" value="{{ id }}"></td>
    <td class="input">
        <a href="javascript: void(0)" class="fa fa-bookmark{% if not bookmark %}-o{% endif %} bookmark" title="Bookmark"></a>
    </td>
    <td class="text">{{ brand }}</td>
    <td class="designation"><a href="{{ url }}" target="_blank">{{ designation }}</a></td>
    <td class="text2" data-clipboard-copy="{{ reference }}">{{ reference }}</td>
    <td class="text text-right">{{ net_price }}</td>
    <td class="text text-right">{{ weight }}</td>
    <td class="text2">{{ geocode }}</td>
    <td class="boolean"><span class="label label-{{ visible_theme }}">{{ visible_label }}</span></td>
    <td class="boolean"><span class="label label-{{ quote_only_theme }}">{{ quote_only_label }}</span></td>
    <td class="boolean"><span class="label label-{{ end_of_life_theme }}">{{ end_of_life_label }}</span></td>
    <td class="number">{{ stock_floor }}</td>
    <td class="number">{{ replenishment }}</td>
    <td class="state"><span class="label label-{{ stock_mode_theme }}">{{ stock_mode_label }}</span></td>
    <td class="state"><span class="label label-{{ stock_state_theme }}">{{ stock_state_label }}</span></td>
    <td class="number">{{ in_stock }}</td>
    <td class="number">{{ available_stock }}</td>
    <td class="number">{{ virtual_stock }}</td>
    <td class="text text-right{% if eda_theme is not empty %} bg-{{ eda_theme }}{% endif %}">{{ eda }}</td>
    <td class="number">{{ ordered }}{% if pending is not empty %} (+{{ pending }}){% endif %}</td>
    <td class="number{% if sold_theme is not empty %} bg-{{ sold_theme }}{% endif %}">{{ sold }}</td>
    <td class="action">
        {# TODO translations #}
        <a href="javascript: void(0)" class="btn btn-xs btn-default quick-edit" title="Edit">
            <i class="fa fa-pencil"></i>
        </a>
        <a href="javascript: void(0)" class="btn btn-xs btn-default print-label" title="Print label">
            <i class="fa fa-barcode"></i>
        </a>
        <a href="javascript: void(0)" class="btn btn-xs btn-default stock-units" title="Stock units">
            <i class="fa fa-tasks"></i>
        </a>
        <a href="javascript: void(0)" class="btn btn-xs btn-default treatment" title="Customer orders">
            <i class="fa fa-user"></i>
        </a>
        <a href="javascript: void(0)" class="btn btn-xs btn-default resupply" title="Supplier orders">
            <i class="fa fa-truck"></i>
        </a>
    </td>
</tr>
