<ul class="nav nav-tabs">
    <li class="active">
        <a href="#category-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a>
    </li>
    <li>
        <a href="#category-seo" data-toggle="tab">{{ 'ekyna_core.field.seo'|trans }}</a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="category-general">
            {{ form_row(form.name) }}
            {{ form_row(form.parent) }}
            {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
            {{ form_row(form.media) }}
        </div>
        <div class="tab-pane" id="category-seo">
            {{ form_row(form.seo) }}
        </div>
    </div>
    {{ form_rest(form) }}
</div>
