{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(category, 'public') }}
    {{ admin_resource_btn(category, 'editor') }}
    {{ admin_resource_btn(category, 'edit') }}
    {{ admin_resource_btn(category, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#category-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#category-seo" id="toggle-seo" data-toggle="tab">
                {{ 'ekyna_core.field.seo'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="category-general">
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(category.name, 'text', {
                            'label': 'ekyna_core.field.name',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(category.visible, 'boolean', {
                            'label': 'ekyna_core.field.visible',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                {{ show_row(category.parent, 'entity', {
                    'label': 'ekyna_core.field.parent',
                    'route': 'ekyna_product_category_admin_show',
                    'route_parameters_map': {'categoryId': 'id'}
                }) }}
                {{ show_row(category.translations, 'translations', {
                    'fields': {
                        'title': {'label': 'ekyna_core.field.title'},
                        'description': {
                            'label': 'ekyna_core.field.description',
                            'type': 'tinymce',
                            'value': path('ekyna_product_category_admin_tinymce', {'categoryId': category.id}),
                            'options': {'height': 150}
                        }
                    }
                }) }}
                {{ show_row(category.media, 'media', {
                    'label': 'ekyna_core.field.image'
                }) }}
            </div>
            <div class="tab-pane" id="category-seo">
                {{ show_row(category.seo, 'seo') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
