{% extends theme %}

{% import '@EkynaProduct/Catalog/Template/macros.html.twig' as macros %}

{% block content -%}
{% spaceless %}
{% set product = (page.slots|first).product %}
<div class="product half left">
    <div class="inner">
        <div class="row">
            <div class="col-xs-6">{{ macros.image(catalog, product) }}</div>
            <div class="col-xs-6">
                {{- macros.title(catalog, product) -}}
                <div class="row">
                    <div class="col-xs-6">{{ macros.infos(catalog, product) }}</div>
                    <div class="col-xs-6">{{ macros.grid(catalog, product) }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="description">{{ product.description|raw }}</div>
            </div>
        </div>
    </div>
</div>
<div class="product dual">
    <div class="row">
        {% for slot in page.slots|slice(1, 2) -%}
        {% set product = slot.product -%}
        <div class="col-xs-6">
            <div class="inner">
                {{- macros.title(catalog, product) -}}
                <p class="image">
                    {{ macros.image(catalog, product) }}
                </p>
                <div class="row">
                    <div class="col-xs-5">
                        {{ macros.infos(catalog, product) }}
                    </div>
                    <div class="col-xs-7">
                        {{ macros.grid(catalog, product) }}
                    </div>
                </div>
            </div>
        </div>
        {%- endfor %}
    </div>
</div>
{% endspaceless %}
{% endblock content %}