{% spaceless %}
<div class="wrap"{% if max_width is not empty %} style="max-width: {{ max_width }};"{% endif %}>
    <div class="slides"{% if duration is not empty %} data-duration="{{ duration }}"{% endif %}>
        <a href="javascript: void(0)" class="prev-slide"></a>
        <a href="javascript: void(0)" class="next-slide"></a>
        {% for product in products -%}
        {% set image = product.images(true, 1)|first -%}
        {% if image -%}
        <div class="slide{% if loop.first %} first{% endif %}">
            {% set url = product|subject_public_url -%}
            <a href="{{ url }}" class="slide-image">
                <img src="{{ image.path|imagine_filter('media_front') }}" align="{{ image.title }}">
            </a>
            <div>
                <p class="slide-caption">
                    <strong>{{ product.brand.title }}</strong>
                    {{ product.fullTitle }}
                </p>
                <p class="slide-button">
                    <a href="{{ url }}" class="btn btn-sm btn-primary">
                        {{- 'ekyna_product.common.read_more'|trans -}}
                    </a>
                </p>
            </div>
        </div>
        {%- endif %}
        {%- endfor %}
    </div>
</div>
{% endspaceless %}
