{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% block main_actions -%}
    {{ admin_resource_btn(brand, 'public') }}
    {{ admin_resource_btn(brand, 'editor') }}
    {{ parent() }}
{%- endblock main_actions %}

{% block main_tabs -%}
    {{ parent() }}
    <li>
        <a href="#{{ resource_name }}-seo" id="toggle-seo" data-toggle="tab">
            {{ 'field.seo'|trans({}, 'EkynaUi') }}
        </a>
    </li>
{%- endblock main_tabs %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ show_row(brand.name, 'text', {
            'label': t('field.name', [], 'EkynaUi')
        }) }}
        <div class="row">
            <div class="col-md-6">
                {{ show_row(brand.visible, 'boolean', {
                    'label': t('field.visible', [], 'EkynaUi'),
                    'label_col': 4,
                    'color': true
                }) }}
            </div>
            <div class="col-md-6">
                {{ show_row(brand.visibility, 'number', {
                    'label': t('common.visibility', [], 'EkynaProduct'),
                    'label_col': 4
                }) }}
            </div>
        </div>
        {{ show_row(brand.translations, 'translations', {
            'fields': {
                'title': {'label': t('field.title', [], 'EkynaUi')},
                'description': {
                    'label': t('field.description', [], 'EkynaUi'),
                    'type': 'tinymce',
                    'property_path': null,
                    'options': {
                        'height': 150,
                        'field': 'description',
                    }
                }
            }
        }) }}
        {{ show_row(brand.media, 'media_media', {
            'label': t('field.image', [], 'EkynaUi')
        }) }}
    </div>
    <div class="tab-pane" id="{{ resource_name }}-seo">
        {{ show_row(brand.seo, 'seo') }}
    </div>
{%- endblock main_contents %}
