{% apply spaceless %}
<ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
    <li class="active">
        <a href="#product-general" id="toggle-product-general" data-toggle="tab">
            {{ 'ekyna_core.field.general'|trans }}
        </a>
    </li>
    {% block content_tab %}
        <li>
            <a href="#product-content" id="toggle-product-content" data-toggle="tab">
                {{- 'ekyna_core.field.content'|trans -}}
            </a>
        </li>
    {% endblock content_tab %}
    {% block pricing_tab %}
    <li>
        <a href="#product-pricing" id="toggle-product-pricing" data-toggle="tab">
            {{- 'ekyna_product.product.field.pricing'|trans -}}
        </a>
    </li>
    {% endblock pricing_tab %}
    {% if form.specialOffers is defined or form.pricings is defined %}
    {% block offers_tab %}
    <li>
        <a href="#product-offers" id="toggle-product-offers" data-toggle="tab">
            {{- 'ekyna_product.offer.label.plural'|trans -}}
        </a>
    </li>
    {% endblock offers_tab %}
    {% endif %}
    {% block stock_tab %}
    <li>
        <a href="#product-stock" id="toggle-product-stock" data-toggle="tab">
            {{- 'ekyna_product.product.field.stock'|trans -}}
        </a>
    </li>
    {% endblock stock_tab %}
    {% block seo_tab %}
    <li>
        <a href="#product-seo" id="toggle-product-seo" data-toggle="tab">
            {{ 'ekyna_core.field.seo'|trans }}
        </a>
    </li>
    {% endblock seo_tab %}
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="product-general">
            {% block general_content %}
                {{ form_row(form.designation) }}
            {% endblock general_content %}
        </div>

        {% block content_pane %}
        <div class="tab-pane" id="product-content">
            {% block content_content %}
                {{ form_row(form.translations) }}
                {{ form_row(form.medias) }}
                {{ form_row(form.notContractual) }}
            {% endblock content_content %}
        </div>
        {% endblock content_pane %}

        {% block pricing_pane %}
        <div class="tab-pane" id="product-pricing">
            {% block pricing_content %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.netPrice, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.reference, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.taxGroup, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                {% if form.customerGroups is defined -%}
                <div class="col-md-6">
                    {{ form_row(form.customerGroups, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                {%- endif %}
            </div>
            {% endblock pricing_content %}
            {% if form.components is defined -%}
                {{ form_row(form.components) }}
            {%- endif %}
            {{ form_row(form.optionGroups) }}
        </div>
        {% endblock pricing_pane %}

        {% if form.specialOffers is defined or form.pricings is defined %}
        {% block offers_pane %}
        <div class="tab-pane" id="product-offers">
            {% if form.specialOffers is defined %}
                {{ form_row(form.specialOffers) }}
            {% endif %}
            {% if form.pricings is defined %}
                {{ form_row(form.pricings) }}
            {% endif %}
        </div>
        {% endblock offers_pane %}
        {% endif %}

        {% block stock_pane %}
        <div class="tab-pane" id="product-stock">
            {% block stock_content %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.stockMode, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.unit, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.geocode, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.weight, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.packageWeight, {'label_col': 6, 'widget_col': 6}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.stockFloor, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.width, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.packageWidth, {'label_col': 6, 'widget_col': 6}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.replenishmentTime, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.height, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.packageHeight, {'label_col': 6, 'widget_col': 6}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.minimumOrderQuantity, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.depth, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.packageDepth, {'label_col': 6, 'widget_col': 6}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.quoteOnly, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.endOfLife, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {% endblock stock_content %}
        </div>
        {% endblock stock_pane %}

        {% block seo_pane %}
        <div class="tab-pane" id="product-seo">
            {% block seo_content %}
                {{ form_row(form.seo) }}
            {% endblock seo_content %}
        </div>
        {% endblock seo_pane %}
    </div>
    {{ form_rest(form) }}
</div>
{% endapply %}
