<ul class="nav nav-tabs">
    <li class="active">
        <a href="#product-general" id="toggle-product-general" data-toggle="tab">
            {{ 'ekyna_core.field.general'|trans }}
        </a>
    </li>
    {% block pricing_tab %}
    <li>
        <a href="#product-pricing" id="toggle-product-pricing" data-toggle="tab">
            {{- 'ekyna_product.product.field.pricing'|trans -}}
        </a>
    </li>
    {% endblock pricing_tab %}
    {% block seo_tab %}
    <li>
        <a href="#product-seo" id="toggle-product-seo" data-toggle="tab">
            {{ 'ekyna_core.field.seo'|trans }}
        </a>
    </li>
    {% endblock seo_tab %}
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="product-general">
            {% block general_content %}
                {{ form_row(form.designation) }}
            {% endblock general_content %}
        </div>

        {% block pricing_pane %}
        <div class="tab-pane" id="product-pricing">
            {% block pricing_content %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.netPrice, {'label_col': 4, 'widget_col': 8}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.taxGroup, {'label_col': 4, 'widget_col': 8}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.reference, {'label_col': 4, 'widget_col': 8}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.weight, {'label_col': 4, 'widget_col': 8}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.geocode, {'label_col': 6, 'widget_col': 6}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.stockMode, {'label_col': 6, 'widget_col': 6}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.stockFloor, {'label_col': 6, 'widget_col': 6}) }}
                    </div>
                </div>
            {% endblock pricing_content %}
            {{ form_row(form.optionGroups) }}
        </div>
        {% endblock pricing_pane %}

        {% block seo_pane %}
        <div class="tab-pane" id="product-seo">
            {% block seo_content %}
                {{ form_row(form.seo) }}
            {% endblock seo_content %}
        </div>
        {% endblock seo_pane %}
    </div>
    {{ form_rest(form) }}
</div>
