{% extends 'EkynaProductBundle:Admin/Product/Form:base.html.twig' %}


{% block pricing_tab %}
    <li>
        <a href="#product-pricing" data-toggle="tab">
            {{- 'ekyna_product.product.field.composition'|trans -}}
        </a>
    </li>
{% endblock pricing_tab %}


{% block general_content %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.brand, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.visible, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.categories) }}
    {{ form_row(form.translations) }}
    {{ form_row(form.medias) }}
{% endblock general_content %}


{% block pricing_content %}
    {{ parent() }}
    {#{{ form_row(form.optionGroups) }}#}
    <hr>
    {{ form_row(form.bundleSlots) }}
{% endblock pricing_content %}

