{% extends 'EkynaProductBundle:Admin/Product/Form:base.html.twig' %}


{% block general_content %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.brand, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.visible, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.categories) }}
    {{ form_row(form.translations) }}
    {{ form_row(form.medias) }}
{% endblock general_content %}


{% block pricing_content %}
    {{ form_row(form.tags) }}
    {{ parent() }}
    {{ form_row(form.references) }}
    {{ form_row(form.adjustments) }}
    {{ form_row(form.optionGroups) }}
{% endblock pricing_content %}

