{% extends '@EkynaProduct/Admin/Product/Form/base.html.twig' %}


{% block general_content %}
    {{ parent() }}
    {{ form_row(form.variable) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.visible, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.releasedAt, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.attributes) }}
    {{ form_row(form.tags) }}
{% endblock general_content %}


{% block pricing_content %}
    {{ parent() }}
    {{ form_row(form.customerGroups) }}
    {{ form_row(form.references) }}
    {{ form_row(form.adjustments) }}
{% endblock pricing_content %}


{% block seo_tab %}{% endblock seo_tab %}
{% block seo_pane %}{% endblock seo_pane %}
