{% extends '@EkynaProduct/Admin/Product/Form/base.html.twig' %}


{% block general_content %}
    {{ parent() }}
    {{ form_row(form.categories) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.brand, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.brandNaming, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.visible, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.visibility, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.bestSeller, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.crossSelling, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.crossSellings) }}
    {{ form_row(form.attributeSet) }}
{% endblock general_content %}
