{% extends 'EkynaProductBundle:Admin/Product/Form:base.html.twig' %}


{% block general_content %}
    {{ parent() }}
    {{ form_row(form.categories) }}
    {{ form_row(form.brand) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.visible, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.quoteOnly, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.attributeSet) }}
    {{ form_row(form.translations) }}
    {{ form_row(form.medias) }}
{% endblock general_content %}
