<div class="row">
    <div class="col-md-3 text-center">
        {% set media = product|product_image %}
        {% if media is not null %}
            <img alt="{{ media.title }}" class="img-responsive" height="60" src="{{ media.path|imagine_filter('slot_thumb') }}" width="60">
        {% else %}
            <img alt="{{ product.fullTitle() }}" class="img-responsive" height="60" src="{{ product_default_image() }}" width="60">
        {% endif %}
    </div>
    <div class="col-md-9">
        <p style="font-size:18px">
            <strong style="color:#999">{{ product.brand }}</strong><br>
            <span>{{ product.fullTitle() }}</span>
        </p>
        <p class="text-success">
            {{ 'ekyna_product.cart.success'|trans }}
        </p>
    </div>
</div>
{% set products = get_cross_selling({'product': product, 'limit': 3}) %}
{% if products is not empty %}
<div class="row">
    <div class="col-md-12">
        <p>{{ 'ekyna_product.highlight.cross_selling'|trans }}</p>
    </div>
</div>
<div class="row">
    {%- for product in products|slice(0, 3) -%}
    <div class="col-md-4">
        <a href="{{ product|subject_public_url }}" class="cross-selling-thumb">
            {%- set image = product|product_image -%}
            {%- if image is not null -%}
                {# TODO filter #}
                <img class="img-responsive" src="{{ image.path|imagine_filter('product_slide') }}" alt="{{ image.title }}">
            {%- else -%}
                <img class="img-responsive" src="{{ product_default_image() }}" alt="{{ product.title }}">
            {%- endif -%}
            <span class="title">{{ product.title }}</span><br>
            <span class="price">{{ product|product_price }}</span>
        </a>
    </div>
    {%- endfor -%}
</div>
{% endif %}
