{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block actions %}{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(attributeChoice.attribute, 'show', {
        'label': 'ekyna_core.button.back',
        'icon': 'arrow-left',
        'theme': 'default',
    }) }}
    {{ admin_resource_btn(attributeChoice, 'edit') }}
    {{ admin_resource_btn(attributeChoice, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#attribute-choice-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="attribute-choice-general">
                {{ show_row(attributeChoice.attribute, 'entity', {
                    'label': 'ekyna_product.attribute.label.singular',
                    'route': 'ekyna_product_attribute_admin_show',
                    'route_parameters_map': {'attributeId': 'id'}
                }) }}
                {{ show_row(attributeChoice.name, 'text', {
                    'label': 'ekyna_core.field.name'
                }) }}
                {{ show_row(attributeChoice.translations, 'translations', {
                    'fields': {
                        'title': {'label': 'ekyna_core.field.title'},
                    }
                }) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(attributeChoice.media, 'media', {
                            'label': 'ekyna_core.field.image',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(attributeChoice.color, 'color', {
                            'label': 'ekyna_core.field.color',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
