{% apply spaceless %}
<table class="table table-condensed table-striped table-alt-head {{ class }}">
    {#<caption>{{ pricing.designation }}</caption>#}
    <thead>
        <tr>
            <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
            <th class="text-right">{{ 'pricing_rule.field.discount'|trans({}, 'EkynaProduct') }}</th>
            <th class="text-right">{{ 'pricing_rule.field.unit_price'|trans({}, 'EkynaProduct') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for offer in pricing.offers -%}
        <tr>
            <td>
            {% if offer.max is null -%}
                {{ 'pricing_rule.field.from'|trans({
                    '%min%': offer.min|format_number
                }, 'EkynaProduct') }}
            {%- else -%}
                {{ 'pricing_rule.field.range'|trans({
                    '%min%': offer.min|format_number, '%max%': offer.max|format_number
                }, 'EkynaProduct') }}
            {%- endif %}
            </td>
            <td class="text-right">{{ offer.percent|format_number }}%</td>
            <td class="text-right">{{ offer.net_price|format_currency(pricing.currency) }}</td>
        </tr>
    {%- endfor %}
    </tbody>
</table>
{% endapply %}
