{% spaceless %}
<table class="table table-condensed table-striped {{ class }}">
    {#<caption>{{ pricing.designation }}</caption>#}
    <thead>
        <tr>
            <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
            <th class="text-right">{{ 'ekyna_product.pricing_rule.field.discount'|trans }}</th>
            <th class="text-right">{{ 'ekyna_product.pricing_rule.field.unit_price'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for offer in pricing.offers -%}
        <tr>
            <td>
            {% if offer.max is null -%}
                {{ 'ekyna_product.pricing_rule.field.from'|trans({
                    '%min%': offer.min
                }) }}
            {%- else -%}
                {{ 'ekyna_product.pricing_rule.field.range'|trans({
                    '%min%': offer.min, '%max%': offer.max
                }) }}
            {%- endif %}
            </td>
            <td class="text-right">{{ offer.percent|localizednumber('percent') }}</td>
            <td class="text-right">{{ offer.price|localizedcurrency(pricing.currency) }}</td>
        </tr>
    {%- endfor %}
    </tbody>
</table>
{% endspaceless %}