{{ bootstrap_set_style('horizontal') }}
{{ bootstrap_set_col_size('md') }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.netPrice, {'label_col': 4, 'widget_col': 8}) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.weight, {'label_col': 4, 'widget_col': 8}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.stockFloor, {'label_col': 4, 'widget_col': 8}) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.geocode, {'label_col': 4, 'widget_col': 8}) }}
    </div>
</div>
{{ form_rest(form) }}
