{% macro show_designation(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.designation, 'text', 'ekyna_core.field.designation', {
        'id': 'product_designation'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_designation %}


{% macro show_visible(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.visible, 'checkbox', 'ekyna_product.product.field.visible', {
        'id': 'product_visible'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_visible %}


{% macro show_brand(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.brand, 'entity', 'ekyna_product.brand.label.singular', {
        'route': 'ekyna_product_brand_admin_show',
        'route_params_map': {'brandId': 'id'},
        'id': 'product_brand'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_brand %}


{% macro show_categories(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.categories, 'entity', 'ekyna_product.category.label.plural', {
        'route': 'ekyna_product_category_admin_show',
        'route_params_map': {'categoryId': 'id'},
        'id': 'product_categories'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_categories %}


{% macro show_customer_groups(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.customerGroups, 'entity', 'ekyna_commerce.customer_group.label.plural', {
        'route': 'ekyna_commerce_customer_group_admin_show',
        'route_params_map': {'customerGroupId': 'id'},
        'id': 'product_customerGroups'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_customer_groups %}


{% macro show_released_at(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.releasedAt, 'datetime', 'ekyna_product.product.field.released_at', {
        'date_format': 'short',
        'time_format': 'none',
        'id': 'product_releasedAt'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_released_at %}


{% macro show_geocode(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.geocode, 'text', 'ekyna_product.product.field.geocode', {
        'id': 'product_geocode'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_geocode %}


{% macro show_delivery_time(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.deliveryTime, 'number', 'ekyna_product.product.field.delivery_time', {
        'id': 'product_deliveryTime',
        'precision': 0
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_delivery_time %}


{% macro show_reference(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.reference, 'text', 'ekyna_core.field.reference', {
        'id': 'product_reference'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_reference %}


{% macro show_weight(product, options = {}) %}
{% spaceless %}
    {# TODO use IntlNumberFormatter #}
    {{ show_row(product.weight, 'number', 'ekyna_core.field.weight', {
        'id': 'product_weight',
        'append': ' kg'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_weight %}


{% macro show_translations(product, options = {}) %}
{% spaceless %}
    {{ show_translations_row(product.translations, {
        'id': 'product_translations',
        'fields': {
            'title': {'label': 'ekyna_core.field.title'},
            'description': {
                'label': 'ekyna_core.field.description',
                'type': 'tinymce',
                'content': path('ekyna_product_product_admin_tinymce', {'productId': product.id}),
                'options': {'height': 150}
            }
        }
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_translations %}


{% macro show_attribute_set(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.attributeSet, 'entity', 'ekyna_product.attribute_set.label.singular', {
        'id': 'product_attributeSet',
        'route': 'ekyna_product_attribute_set_admin_show',
        'route_params_map': {'attributeSetId': 'id'}
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_attribute_set %}


{% macro show_variable(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.parent, 'entity', 'ekyna_product.product.field.parent', {
        'id': 'product_parent',
        'route': 'ekyna_product_product_admin_show',
        'route_params_map': {'productId': 'id'},
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_variable %}


{% macro show_medias(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.medias, 'medias', 'ekyna_core.field.medias', {
        'id': 'product_medias'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_medias %}


{% macro show_net_price(product, options = {}) %}
{% spaceless %}
    {# TODO use IntlNumberFormatter #}
    {{ show_row(product.netPrice, 'number', 'ekyna_product.product.field.net_price', {
        'id': 'product_netPrice',
        'append': ' €'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_net_price %}


{% macro show_tax_group(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.taxGroup, 'entity', 'ekyna_commerce.tax_group.label.singular', {
        'id': 'product_taxGroup',
        'route': 'ekyna_commerce_tax_group_admin_show',
        'route_params_map': {'taxGroupId': 'id'},
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_tax_group %}


{% macro show_references(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_product.product_reference.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-block" id="product_references">
                {% if product.references is not empty %}
                    <dl class="dl-horizontal">
                        {% for reference in product.references %}
                            <dt>{{ reference|product_reference_type_label }}</dt>
                            <dd>{{ reference.number }}</dd>
                        {% endfor %}
                    </dl>
                {% else %}
                    <em>{{ 'ekyna_core.value.none'|trans }}</em>
                {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_references %}


{% macro show_attributes(product, options = {}) %}
{% spaceless %}
    {% if product is variant_product %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_product.attribute.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-block" id="product_attributes">
                {% set attributes = product|product_attributes %}
                <dl class="dl-horizontal">
                {% for data in attributes -%}
                    <dt>{{ attribute(data, 'group').name }}</dt>
                    <dd>
                    {% for attribute in attribute(data, 'attributes') -%}
                        {{ attribute.name }}
                        {% if not loop.last %}, {% endif -%}
                    {% endfor -%}
                    </dd>
                {%- endfor %}
                </dl>
            </div>
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endmacro show_attributes %}


{% macro show_adjustments(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_commerce.adjustment.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-block" id="product_adjustments">
                <table class="table table-stripped table-condensed">
                    <tr>
                        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                        <th>{{ 'ekyna_core.field.type'|trans }}</th>
                        <th>{{ 'ekyna_core.field.mode'|trans }}</th>
                        <th>{{ 'ekyna_core.field.amount'|trans }}</th>
                    </tr>
                    {% for adjustment in product.adjustments -%}
                        <tr>
                            <td>{{ adjustment.designation }}</td>
                            <td>{{ adjustment.type|adjustment_type_label }}</td>
                            <td>{{ adjustment.mode|adjustment_mode_label }}</td>
                            <td>{{ adjustment.amount|localizedcurrency('EUR') }}</td>{# TODO currency #}
                        </tr>
                        {# TODO translations ? #}
                    {% else %}
                        <tr>
                            <td colspan="4">
                                {{ 'ekyna_core.value.none'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_adjustments %}


{% macro show_option_groups(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{- 'ekyna_product.option_group.label.plural'|trans -}}
        </div>
        <div class="col-md-10">
            {%- if product.optionGroups|length -%}
            <div class="show-widget show-widget-sm">
                {% for group in product.optionGroups %}
                <div class="collection-item">
                    {% set groupId = 'product_optionGroups_' ~ loop.index0 ~ '_' %}
                    <div class="row">
                        <div class="col-md-6">
                            {{- show_row(group.name, 'text', 'ekyna_core.field.name', {
                                'id': groupId ~ 'name',
                                'label_nb_col': 4,
                                'widget_nb_col': 8
                            }) -}}
                        </div>
                        <div class="col-md-6">
                            {{- show_row(group.required, 'checkbox', 'ekyna_core.field.required', {
                                'id': groupId ~ 'required',
                                'label_nb_col': 4,
                                'widget_nb_col': 8
                            }) -}}
                        </div>
                    </div>
                    {{- show_translations_row(group.translations, {
                        'id': groupId ~ 'translations',
                        'fields': {
                            'title': {'label': 'ekyna_core.field.title'},
                        }
                    }) -}}
                    <div class="row show-row">
                        <div class="col-md-2 show-label">
                            {{- 'ekyna_product.option.label.plural'|trans -}}
                        </div>
                        <div class="col-md-10">
                            <div class="show-widget">
                                <table class="table table-stripped table-condensed">
                                    <tr>
                                        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                                        <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                                        <th>{{ 'ekyna_core.field.weight'|trans }}</th>
                                        <th>{{ 'ekyna_core.field.price'|trans }}</th>
                                        <th>{{ 'ekyna_core.field.group'|trans }}</th>
                                    </tr>
                                    {% for option in group.options %}
                                    {% set optionId = groupId ~ 'options_' ~ loop.index0 ~ '_' %}
                                    {% set data = option.product ?: option %}
                                    <tr>
                                        <td id="{{ optionId ~ 'designation' }}">
                                        {%- if option.product -%}
                                            <a href="{{ admin_resource_path(option.product) }}">
                                                {{ option.product.fullDesignation }}
                                            </a>
                                        {%- else -%}
                                            {{ data.designation }}
                                        {%- endif -%}
                                        </td>
                                        <td id="{{ optionId ~ 'reference' }}">
                                            {{- data.reference -}}
                                        </td>
                                        <td id="{{ optionId ~ 'weight' }}">
                                            {{- data.weight|localizednumber }} kg
                                        </td>
                                        <td id="{{ optionId ~ 'netPrice' }}">
                                            {{- option.netPrice|localizedcurrency('EUR') -}}{# TODO currency #}
                                        </td>
                                        <td id="{{ optionId ~ 'taxGroup' }}">
                                            {{- data.taxGroup -}}
                                        </td>
                                    </tr>
                                    {# TODO translations ? #}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {%- else -%}
            <div class="show-widget show-widget-inline">
                <em>{{ 'ekyna_core.value.none'|trans }}</em>
            </div>
            {%- endif -%}
        </div>
    </div>
{% endspaceless %}
{% endmacro show_option_groups %}


{% macro show_bundle_composition(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_product.bundle_slot.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-sm">
            {% if product is bundle_product %}
                <table class="table table-stripped table-condensed">
                    <tr>
                        <td colspan="2" class="text-right">
                            <strong>{{ 'ekyna_product.product.field.total_net_price'|trans }}</strong>
                        </td>
                        <td class="text-right">
                            {{ product|product_bundle_total_price|localizedcurrency('EUR') }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'ekyna_product.product.label.singular'|trans }}</th>
                        <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
                        <th>{{ 'ekyna_product.product.field.net_price'|trans }}</th>
                    </tr>
                    {% for slot in product.bundleSlots %}
                    {% set slotId = 'product_slots_' ~ loop.index0 ~ '_' %}
                    <tr>
                        <td id="{{ slotId ~ 'choice_0_product' }}">
                            {% set choice = (slot.choices|first) %}
                            <a href="{{ admin_resource_path(choice.product) }}" class="show-entity">
                                {{ choice.product }}
                            </a>
                        </td>
                        <td id="{{ slotId ~ 'minQuantity' }}" class="text-right">
                            {{ choice.minQuantity }}
                        </td>
                        <td id="{{ slotId ~ 'choice_0_product_netPrice' }}" class="text-right">
                            {{ choice.product.netPrice|localizedcurrency('EUR') }}{# TODO currency #}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    <em>Wrong product type</em>
                </p>
            {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_bundle_composition %}


{% macro show_configurable_composition(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_product.bundle_slot.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-sm show-product-configurable">
            {% if product is configurable_product %}
                <p class="total">
                    <strong>{{ 'ekyna_product.product.field.total_net_price'|trans }}</strong>
                    <span>{{ product|product_configurable_total_price|localizedcurrency('EUR') }}</span>
                </p>
                {% for slot in product.bundleSlots %}
                {% set slotId = 'product_slots_' ~ loop.index0 ~ '_' %}
                <div class="slot collection-item">
                    {{ show_translations_row(slot.translations, {
                        'id': slotId ~ 'translations',
                        'fields': {
                            'title': {'label': 'ekyna_core.field.title'},
                            'description': {'label': 'ekyna_core.field.description', 'style': 'block'},
                        }
                    }) }}
                    {{ show_row(slot.required, 'checkbox', 'ekyna_core.field.required', {
                        'id': slotId ~ 'required'
                    }|merge(options)) }}
                    <table class="table table-stripped table-condensed">
                        <tr>
                            <th>{{ 'ekyna_product.product.label.singular'|trans }}</th>
                            <th>{{ 'ekyna_product.bundle_choice.field.min_quantity'|trans }}</th>
                            <th>{{ 'ekyna_product.bundle_choice.field.min_quantity'|trans }}</th>
                            <th>{{ 'ekyna_product.product.field.net_price'|trans }}</th>
                        </tr>
                        {% for choice in slot.choices %}
                        {% set choiceId = slotId ~ '_choice_' ~loop.index0 ~ '_' %}
                        <tr>
                            <td id="{{ choiceId ~ 'product' }}">
                                <a href="{{ admin_resource_path(choice.product) }}" class="show-entity">
                                    {{ choice.product }}
                                </a>
                            </td>
                            <td id="{{ choiceId ~ 'minQuantity' }}" class="text-right">
                                {{ choice.minQuantity }}
                            </td>
                            <td id="{{ choiceId ~ 'maxQuantity' }}" class="text-right">
                                {{ choice.maxQuantity }}
                            </td>
                            <td id="{{ choiceId ~ 'product_netPrice' }}" class="text-right">
                                {{ choice.product.netPrice|localizedcurrency('EUR') }}{# TODO currency #}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="choice-rules">
                                <em>[TODO] Choice rules</em> {# TODO rules #}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
                {% endfor %}
            {% else %}
                <p>
                    <em>Wrong product type</em>
                </p>
            {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_configurable_composition %}


{% macro show_seo(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.seo, 'seo', null, {
        'id': 'product_seo'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_seo %}


{% macro show_stock_units(product) %}
{% spaceless %}
    <div class="actions">
        {{ admin_resource_btn('ekyna_product.product_stock_unit', 'new', {
            'label': 'ekyna_commerce.stock_unit.button.new',
            'size': 'xs',
            'path': path('ekyna_product_product_stock_unit_admin_new', {
                'productId': product.id,
            })
        }) }}
    </div>
    {{ render_subject_stock_unit_list(product, {
        'id': 'product_stockUnit'
    }) }}
{% endspaceless %}
{% endmacro show_stock_units %}
