{% macro show_designation(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.designation, 'text', {
        'label': 'ekyna_core.field.designation',
        'id': 'product_designation'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_designation %}


{% macro show_visible(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.visible, 'boolean', {
        'label': 'ekyna_core.field.visible',
        'id': 'product_visible'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_visible %}


{% macro show_brand(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.brand, 'entity', {
        'label': 'ekyna_product.brand.label.singular',
        'route': 'ekyna_product_brand_admin_show',
        'route_parameters_map': {'brandId': 'id'},
        'id': 'product_brand'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_brand %}


{% macro show_categories(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.categories, 'entity', {
        'label': 'ekyna_product.category.label.plural',
        'route': 'ekyna_product_category_admin_show',
        'route_parameters_map': {'categoryId': 'id'},
        'id': 'product_categories'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_categories %}


{% macro show_customer_groups(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.customerGroups, 'entity', {
        'label': 'ekyna_commerce.customer_group.label.plural',
        'route': 'ekyna_commerce_customer_group_admin_show',
        'route_parameters_map': {'customerGroupId': 'id'},
        'id': 'product_customerGroups'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_customer_groups %}


{% macro show_released_at(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.releasedAt, 'datetime', {
        'label': 'ekyna_product.product.field.released_at',
        'date_format': 'short',
        'time_format': 'none',
        'id': 'product_releasedAt'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_released_at %}


{% macro show_reference(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.reference, 'text', {
        'label': 'ekyna_core.field.reference',
        'id': 'product_reference',
        'attr': {
            'data-clipboard-copy': product.reference
        }
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_reference %}


{% macro show_weight(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.weight, 'number', {
        'label': 'ekyna_core.field.weight',
        'id': 'product_weight',
        'append': ' kg'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_weight %}


{% macro show_height(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.height, 'number', {
        'label': 'ekyna_core.field.height',
        'id': 'product_height',
        'append': ' mm'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_height %}


{% macro show_width(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.width, 'number', {
        'label': 'ekyna_core.field.width',
        'id': 'product_width',
        'append': ' mm'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_width %}


{% macro show_depth(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.depth, 'number', {
        'label': 'ekyna_core.field.depth',
        'id': 'product_depth',
        'append': ' mm'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_depth %}


{% macro show_unit(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.unit, 'unit', {
        'label': 'ekyna_commerce.unit.label',
        'id': 'product_unit'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_unit %}


{% macro show_translations(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.translations, 'translations', {
        'id': 'product_translations',
        'fields': {
            'title': {'label': 'ekyna_core.field.title'},
            'subTitle': {'label': 'ekyna_core.field.subtitle'},
            'description': {
                'label': 'ekyna_core.field.description',
                'type': 'tinymce',
                'value': path('ekyna_product_product_admin_tinymce', {'productId': product.id}),
                'options': {'height': 150}
            }
        }
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_translations %}


{% macro show_attribute_set(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.attributeSet, 'entity', {
        'label': 'ekyna_product.attribute_set.label.singular',
        'id': 'product_attributeSet',
        'route': 'ekyna_product_attribute_set_admin_show',
        'route_parameters_map': {'attributeSetId': 'id'}
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_attribute_set %}


{% macro show_variable(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.parent, 'entity', {
        'label': 'ekyna_product.product.field.parent',
        'id': 'product_parent',
        'route': 'ekyna_product_product_admin_show',
        'route_parameters_map': {'productId': 'id'},
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_variable %}


{% macro show_medias(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.medias, 'medias', {
        'label': 'ekyna_core.field.medias',
        'id': 'product_medias'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_medias %}


{% macro show_min_price(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.minPrice|localizedcurrency(commerce_default_currency), 'text', {
        'label': 'ekyna_product.product.field.min_price',
        'id': 'product_minPrice',
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_min_price %}


{% macro show_net_price(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.netPrice|localizedcurrency(commerce_default_currency), 'text', {
        'label': 'ekyna_product.product.field.net_price',
        'id': 'product_netPrice',
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_net_price %}


{% macro show_tax_group(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.taxGroup, 'entity', {
        'label': 'ekyna_commerce.tax_group.label.singular',
        'id': 'product_taxGroup',
        'route': 'ekyna_commerce_tax_group_admin_show',
        'route_parameters_map': {'taxGroupId': 'id'},
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_tax_group %}


{% macro show_references(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_product.product_reference.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-block" id="product_references">
                {% if product.references is not empty %}
                    <dl class="dl-horizontal">
                        {% for reference in product.references %}
                            <dt>{{ reference|product_reference_type_label }}</dt>
                            <dd data-clipboard-copy="{{ reference.number }}">{{ reference.number }}</dd>
                        {% endfor %}
                    </dl>
                {% else %}
                    <em>{{ 'ekyna_core.value.none'|trans }}</em>
                {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_references %}


{% macro show_attributes(product, options = {}) %}
{% spaceless %}
    {% if product is simple_product or product is variant_product %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_product.attribute.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-block" id="product_attributes">
                <dl class="dl-horizontal">
                    {% for attribute in product.attributes -%}
                    <dt>{{ attribute.attributeSlot.attribute.name }}</dt>
                    <dd>{{ attribute|product_attribute }}</dd>
                    {%- endfor %}
                </dl>
            </div>
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endmacro show_attributes %}


{% macro show_adjustments(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_commerce.adjustment.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-block" id="product_adjustments">
                <table class="table table-stripped table-condensed table-hover">
                    <tr>
                        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.type'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.mode'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.amount'|trans }}</th>
                    </tr>
                    {% for adjustment in product.adjustments -%}
                        <tr>
                            <td>{{ adjustment.designation }}</td>
                            <td class="text-right">{{ adjustment.type|adjustment_type_label }}</td>
                            <td class="text-right">{{ adjustment.mode|adjustment_mode_label }}</td>
                            <td class="text-right">{{ adjustment.amount|localizedcurrency(commerce_default_currency) }}</td>
                        </tr>
                        {# TODO translations ? #}
                    {% else %}
                        <tr>
                            <td colspan="4">
                                {{ 'ekyna_core.value.none'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_adjustments %}


{% macro show_option_groups(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{- 'ekyna_product.option_group.label.plural'|trans -}}
        </div>
        <div class="col-md-10">
            {%- if product.optionGroups|length -%}
            <div class="show-widget show-widget-sm">
                {% for group in product.optionGroups %}
                <div class="collection-item">
                    {% set groupId = 'product_optionGroups_' ~ loop.index0 ~ '_' %}
                    <div class="row">
                        <div class="col-md-6">
                            {{- show_row(group.name, 'text', {
                                'label': 'ekyna_core.field.name',
                                'id': groupId ~ 'name',
                                'label_col': 4
                            }) -}}
                        </div>
                        <div class="col-md-6">
                            {{- show_row(group.required, 'boolean', {
                                'label': 'ekyna_core.field.required',
                                'id': groupId ~ 'required',
                                'label_col': 4
                            }) -}}
                        </div>
                    </div>
                    {{- show_row(group.translations, 'translations', {
                        'id': groupId ~ 'translations',
                        'fields': {
                            'title': {'label': 'ekyna_core.field.title'},
                        }
                    }) -}}
                    <div class="row show-row">
                        <div class="col-md-2 show-label">
                            {{- 'ekyna_product.option.label.plural'|trans -}}
                        </div>
                        <div class="col-md-10">
                            <div class="show-widget">
                                <table class="table table-stripped table-condensed table-hover">
                                    <tr>
                                        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                                        <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                                        <th class="text-right">{{ 'ekyna_core.field.weight'|trans }}</th>
                                        <th class="text-right">{{ 'ekyna_core.field.price'|trans }}</th>
                                        <th class="text-right">{{ 'ekyna_core.field.group'|trans }}</th>
                                    </tr>
                                    {% for option in group.options %}
                                    {% set optionId = groupId ~ 'options_' ~ loop.index0 ~ '_' %}
                                    {% set data = option.product ?: option %}
                                    <tr>
                                        <td id="{{ optionId ~ 'designation' }}">
                                        {%- if option.product -%}
                                            <a href="{{ admin_resource_path(option.product) }}">
                                                {{ option.product.fullDesignation }}
                                            </a>
                                        {%- else -%}
                                            {{ data.designation }}
                                        {%- endif -%}
                                        </td>
                                        <td id="{{ optionId ~ 'reference' }}" data-clipboard-copy="{{ data.reference }}">
                                            {{- data.reference -}}
                                        </td>
                                        <td id="{{ optionId ~ 'weight' }}" class="text-right">
                                            {{- data.weight|localizednumber }} kg
                                        </td>
                                        <td id="{{ optionId ~ 'netPrice' }}" class="text-right">
                                        {%- if option.product and option.netPrice is same as(null) -%}
                                            {{- option.product.netPrice|localizedcurrency(commerce_default_currency) -}}
                                        {%- else -%}
                                            {{- option.netPrice|localizedcurrency(commerce_default_currency) -}}
                                        {%- endif -%}
                                        </td>
                                        <td id="{{ optionId ~ 'taxGroup' }}" class="text-right">
                                            {{- data.taxGroup -}}
                                        </td>
                                    </tr>
                                    {# TODO translations ? #}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {%- else -%}
            <div class="show-widget show-widget-inline">
                <em>{{ 'ekyna_core.value.none'|trans }}</em>
            </div>
            {%- endif -%}
        </div>
    </div>
{% endspaceless %}
{% endmacro show_option_groups %}


{% macro show_special_offers(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{- 'ekyna_product.special_offer.label.plural'|trans -}}
        </div>
        <div class="col-md-10">
            {%- if product.specialOffers is not empty -%}
            <div class="show-widget show-widget-sm">
                <table class="table table-stripped table-condensed">
                    <tr>
                        <th>{{ 'ekyna_core.field.name'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_product.common.min_quantity'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_product.common.percent'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.start_date'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.end_date'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_product.special_offer.field.stack'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.enabled'|trans }}</th>
                    </tr>
                    {% for offer in product.specialOffers -%}
                    {% set offerId = 'product_specialOffers_' ~ loop.index0 ~ '_' -%}
                    <tr>
                        <td id="{{ offerId ~ 'name' }}">
                            {{- offer.name -}}
                        </td>
                        <td id="{{ offerId ~ 'minQuantity' }}" class="text-right">
                            {{- offer.minQuantity|localizednumber -}}
                        </td>
                        <td id="{{ offerId ~ 'percent' }}" class="text-right">
                            {{- (offer.percent / 100)|localizednumber('percent') -}}
                        </td>
                        <td id="{{ offerId ~ 'startsAt' }}" class="text-right">
                        {%- if offer.startsAt is null -%}
                            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
                        {%- else -%}
                            {{ offer.startsAt|localizeddate('short', 'none') }}
                        {%- endif -%}
                        </td>
                        <td id="{{ offerId ~ 'endsAt' }}" class="text-right">
                        {%- if offer.endsAt is null -%}
                            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
                        {%- else -%}
                            {{ offer.endsAt|localizeddate('short', 'none') }}
                        {%- endif -%}
                        </td>
                        <td id="{{ offerId ~ 'stack' }}" class="text-right">
                            {% if offer.stack -%}
                                <span class="label label-success">{{ 'ekyna_core.value.yes'|trans }}</span>
                            {%- else -%}
                                <span class="label label-danger">{{ 'ekyna_core.value.no'|trans }}</span>
                            {%- endif %}
                        </td>
                        <td id="{{ offerId ~ 'enabled' }}" class="text-right">
                            {% if offer.enabled -%}
                                <span class="label label-success">{{ 'ekyna_core.value.yes'|trans }}</span>
                            {%- else -%}
                                <span class="label label-danger">{{ 'ekyna_core.value.no'|trans }}</span>
                            {%- endif %}
                        </td>
                    </tr>
                    {%- endfor %}
                </table>
            </div>
            {%- else -%}
            <div class="show-widget show-widget-inline">
                <em>{{ 'ekyna_core.value.none'|trans }}</em>
            </div>
            {%- endif -%}
        </div>
    </div>
{% endspaceless %}
{% endmacro show_special_offers %}


{% macro show_pricings(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{- 'ekyna_product.pricing.label.plural'|trans -}}
        </div>
        <div class="col-md-10">
            {%- if product.pricings is not empty -%}
            <div class="show-widget show-widget-sm">
                <table class="table table-stripped table-condensed">
                    <tr>
                        <th>{{ 'ekyna_core.field.name'|trans }}</th>
                        <th>{{ 'ekyna_product.pricing_rule.label.plural'|trans }}</th>
                    </tr>
                    {% for pricing in product.pricings -%}
                    {% set pricingId = 'product_pricings_' ~ loop.index0 ~ '_' -%}
                    <tr>
                        <td id="{{ pricingId ~ 'name' }}">
                            {{- pricing.name -}}
                        </td>
                        <td id="{{ pricingId ~ 'rules' }}">
                            <table class="table table-condensed">
                                <tr>
                                    <th class="text-right">{{ 'ekyna_product.common.min_quantity'|trans }}</th>
                                    {% for rule in pricing.rules -%}
                                        <td class="text-right">{{ rule.minQuantity|localizednumber }}</td>
                                    {%- endfor %}
                                </tr>
                                <tr>
                                    <th class="text-right">{{ 'ekyna_product.common.percent'|trans }}</th>
                                    {% for rule in pricing.rules -%}
                                        <td class="text-right">{{ (rule.percent / 100)|localizednumber('percent') }}</td>
                                    {%- endfor %}
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {%- endfor %}
                </table>
            </div>
            {%- else -%}
            <div class="show-widget show-widget-inline">
                <em>{{ 'ekyna_core.value.none'|trans }}</em>
            </div>
            {%- endif -%}
        </div>
    </div>
{% endspaceless %}
{% endmacro show_pricings %}


{% macro show_bundle_composition(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{- 'ekyna_product.bundle_slot.label.plural'|trans -}}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-sm">
            {%- if product is bundle_product -%}
                <table class="table table-stripped table-condensed table-hover">
                    <tr>
                        <th>{{ 'ekyna_product.product.label.singular'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_commerce.stock_subject.field.state'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.type'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.visible'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_product.bundle_choice.field.hidden'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_product.bundle_choice.field.use_options'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_core.field.quantity'|trans }}</th>
                        <th class="text-right">{{ 'ekyna_product.product.field.net_price'|trans }}</th>
                    </tr>
                    {%- for slot in product.bundleSlots -%}
                    {%- set slot_id = 'product_slots_' ~ loop.index0 ~ '_' -%}
                    <tr>
                        <td id="{{ slot_id ~ 'choice_0_product' }}">
                            {%- set choice = (slot.choices|first) -%}
                            {%- set choice_product = choice.product -%}
                            <a href="{{ admin_resource_path(choice_product) }}" class="show-entity">
                                {{- choice_product -}}
                            </a>
                        </td>
                        <td id="{{ slot_id ~ 'stockState' }}" class="text-right" style="font-size: 11px">
                            {{- choice_product|stock_subject_state_badge -}}
                        </td>
                        <td id="{{ slot_id ~ 'type' }}" class="text-right" style="font-size: 11px">
                            {{- choice_product|product_type_badge -}}
                        </td>
                        <td id="{{ slot_id ~ 'visible' }}" class="text-right" style="font-size: 11px">
                            {%- if choice_product.visible -%}
                                <span class="label label-success">{{ 'ekyna_core.value.yes'|trans }}</span>
                            {%- else -%}
                                <span class="label label-danger">{{ 'ekyna_core.value.no'|trans }}</span>
                            {%- endif -%}
                        </td>
                        <td id="{{ slot_id ~ 'hidden' }}" class="text-right" style="font-size: 11px">
                            {%- if choice.hidden -%}
                                <span class="label label-warning">{{ 'ekyna_core.value.yes'|trans }}</span>
                            {%- else -%}
                                <span class="label label-default">{{ 'ekyna_core.value.no'|trans }}</span>
                            {%- endif -%}
                        </td>
                        <td id="{{ slot_id ~ 'useOptions' }}" class="text-right" style="font-size: 11px">
                            {%- if choice.useOptions -%}
                                <span class="label label-success">{{ 'ekyna_core.value.yes'|trans }}</span>
                            {%- else -%}
                                <span class="label label-warning">{{ 'ekyna_core.value.no'|trans }}</span>
                            {%- endif -%}
                        </td>
                        <td id="{{ slot_id ~ 'minQuantity' }}" class="text-right">
                            {# TODO Packgaging format #}
                            {{- choice.minQuantity|localizednumber -}}
                        </td>
                        <td id="{{ slot_id ~ 'choice_0_product_netPrice' }}" class="text-right">
                            {# TODO Packgaging format #}
                            {{- (choice_product.netPrice * choice.minQuantity)|localizedcurrency(commerce_default_currency) -}}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-right">
                            <strong>{{ 'ekyna_product.product.field.total_net_price'|trans }}</strong>
                        </td>
                        <td class="text-right">
                            {{- product|product_bundle_total_price|localizedcurrency(commerce_default_currency) -}}
                        </td>
                    </tr>
                </table>
            {%- else -%}
                <p>
                    <em>Wrong product type</em>
                </p>
            {%- endif -%}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_bundle_composition %}


{% macro show_configurable_composition(product, options = {}) %}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_product.bundle_slot.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-sm show-product-configurable">
            {% if product is configurable_product %}
                <p class="total">
                    <strong>{{ 'ekyna_product.product.field.total_net_price'|trans }}</strong>
                    <span>{{ product|product_configurable_total_price|localizedcurrency(commerce_default_currency) }}</span>
                </p>
                {% for slot in product.bundleSlots %}
                {% set slot_id = 'product_slots_' ~ loop.index0 ~ '_' %}
                <div class="slot collection-item">
                    {{ show_row(slot.translations, 'translations', {
                        'id': slot_id ~ 'translations',
                        'fields': {
                            'title': {'label': 'ekyna_core.field.title'},
                            'description': {
                                'label': 'ekyna_core.field.description',
                                'type': 'textarea',
                                'options': {'html': true},
                            },
                        }
                    }) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ show_row(slot.media, 'media', {
                                'label': 'ekyna_core.field.image',
                                'id': slot_id ~ 'image',
                                'label_col': 4
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ show_row(slot.required, 'boolean', {
                                'label': 'ekyna_core.field.required',
                                'id': slot_id ~ 'required',
                                'label_col': 4
                            }) }}
                        </div>
                    </div>
                    <table class="table table-stripped table-condensed table-hover">
                        <tr>
                            <th>{{ 'ekyna_product.product.label.singular'|trans }}</th>
                            <th class="text-right">{{ 'ekyna_core.field.type'|trans }}</th>
                            <th class="text-right">{{ 'ekyna_commerce.stock_subject.field.state'|trans }}</th>
                            <th class="text-right">{{ 'ekyna_core.field.visible'|trans }}</th>
                            <th class="text-right">{{ 'ekyna_product.common.min_quantity'|trans }}</th>
                            <th class="text-right">{{ 'ekyna_product.common.max_quantity'|trans }}</th>
                            <th class="text-right">{{ 'ekyna_product.product.field.net_price'|trans }}</th>
                        </tr>
                        {% for choice in slot.choices %}
                        {% set choice_id = slot_id ~ '_choice_' ~loop.index0 ~ '_' %}
                        {% set choice_product = choice.product %}
                        <tr>
                            <td id="{{ choice_id ~ 'product' }}">
                                <a href="{{ admin_resource_path(choice_product) }}" class="show-entity">
                                    {{- choice_product -}}
                                </a>
                            </td>
                            <td id="{{ choice_id ~ 'type' }}" class="text-right" style="font-size: 11px">
                                {{- choice_product|product_type_badge -}}
                            </td>
                            <td id="{{ choice_id ~ 'stockState' }}" class="text-right" style="font-size: 11px">
                                {{- choice_product|stock_subject_state_badge -}}
                            </td>
                            <td id="{{ choice_id ~ 'visible' }}" class="text-right" style="font-size: 11px">
                                {%- if choice_product.visible -%}
                                    <span class="label label-success">{{ 'ekyna_core.value.yes'|trans }}</span>
                                {%- else -%}
                                    <span class="label label-danger">{{ 'ekyna_core.value.no'|trans }}</span>
                                {%- endif -%}
                            </td>
                            <td id="{{ choice_id ~ 'minQuantity' }}" class="text-right">
                                {# TODO Packgaging format #}
                                {{- choice.minQuantity|localizednumber -}}
                            </td>
                            <td id="{{ choice_id ~ 'maxQuantity' }}" class="text-right">
                                {# TODO Packgaging format #}
                                {{- choice.maxQuantity|localizednumber -}}
                            </td>
                            <td id="{{ choice_id ~ 'product_netPrice' }}" class="text-right">
                                {{- (choice_product.netPrice * choice.minQuantity)|localizedcurrency(commerce_default_currency) -}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" class="choice-rules">
                                <em>[TODO] Choice rules</em> {# TODO rules #}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            {% else %}
                <p class="alert alert-danger">
                    <em>Wrong product type</em>
                </p>
            {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_configurable_composition %}


{% macro show_relations(products) %}
{% spaceless %}
    <table class="table table-stripped table-condensed table-hover">
        <tr>
            <th>{{ 'ekyna_product.product.label.singular'|trans }}</th>
            <th class="text-right">{{ 'ekyna_core.field.type'|trans }}</th>
            <th class="text-right">{{ 'ekyna_commerce.stock_subject.field.state'|trans }}</th>
            <th class="text-right">{{ 'ekyna_core.field.visible'|trans }}</th>
            <th class="text-right">{{ 'ekyna_product.product.field.net_price'|trans }}</th>
        </tr>
        {% for product in products -%}
            {% set relationId = 'relation_' ~loop.index0 ~ '_' %}
            <tr>
                <td id="{{ relationId ~ 'product' }}">
                    <a href="{{ admin_resource_path(product) }}" class="show-entity">
                        {{- product -}}
                    </a>
                </td>
                <td id="{{ relationId ~ 'type' }}" class="text-right" style="font-size: 11px">
                    {{- product|product_type_badge -}}
                </td>
                <td id="{{ relationId ~ 'stockState' }}" class="text-right" style="font-size: 11px">
                    {{- product|stock_subject_state_badge -}}
                </td>
                <td id="{{ relationId ~ 'visible' }}" class="text-right" style="font-size: 11px">
                    {%- if product.visible -%}
                        <span class="label label-success">{{ 'ekyna_core.value.yes'|trans }}</span>
                    {%- else -%}
                        <span class="label label-danger">{{ 'ekyna_core.value.no'|trans }}</span>
                    {%- endif -%}
                </td>
                <td id="{{ relationId ~ 'product_netPrice' }}" class="text-right">
                    {{- product.netPrice|localizedcurrency(commerce_default_currency) -}}
                </td>
            </tr>
        {%- endfor %}
    </table>
{% endspaceless %}
{% endmacro show_relations %}


{% macro show_seo(product, options = {}) %}
{% spaceless %}
    {{ show_row(product.seo, 'seo', {
        'id': 'product_seo'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_seo %}


{% macro show_stock_units(product) %}
{% spaceless %}
    {%- if product.stockMode is not stock_mode_disabled %}
        <hr>
        {%- if product.stockMode is stock_mode_manual -%}
        <div class="actions">
            {{- admin_resource_btn('ekyna_product.product_stock_unit', 'new', {
                'label': 'ekyna_commerce.stock_unit.button.new',
                'size': 'xs',
                'path': path('ekyna_product_product_stock_unit_admin_new', {
                    'productId': product.id,
                })
            }) -}}
        </div>
        {%- endif -%}
        {{- render_subject_stock_units(product, {
            'prefix': 'product_stockUnit',
            'id': 'stock-units-view'
        }) -}}
    {%- endif -%}
{% endspaceless %}
{% endmacro show_stock_units %}
