{% apply spaceless %}
<hr>
{{- admin_resource_btn(product, 'Ekyna\\Bundle\\ProductBundle\\Action\\Admin\\Product\\InvalidateOffersAction', {
    'theme': 'primary',
    'size': 'sm'
}, {
    'class': ('pull-right' ~ (product.pendingOffers ? ' disabled' : ''))
}) -}}
<h3>{{ 'offer.label.plural'|trans({}, 'EkynaProduct') }}</h3>
<div class="show-product-offers">
{% for list in product|product_offer_list %}
    {% if loop.index0 % 3 == 0 %}
    <div class="row">
    {% endif %}
        <div class="col-sm-12 col-md-4">
            <div class="offers-list">
                <p class="h5">{{ list.title }}</p>
                <table class="table table-condensed table-alt-head">
                    <tr>
                        <th>Qty. Min.</th>
                        <th>Percent</th>
                        <th>Net price</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for offer in list.offers %}
                    <tr>
                        <td>{{ offer.minQuantity|format_number }}</td>
                        <td>
                            <strong>{{ offer.percent|format_number }}&nbsp;%</strong>
                            ({%- for percent in offer.detailedPercents -%}
                                {{ percent|format_number }}&nbsp;%{% if not loop.last %},&nbsp;{% endif -%}
                            {%- endfor -%})
                        </td>
                        <td>
                            <strong class="text-primary">{{ offer.netPrice|format_currency(commerce_default_currency) }}</strong>
                        </td>
                        <td>
                        {% if offer.specialOffer is not null -%}
                        {% if offer.specialOffer.product is null -%}
                            <a href="{{ admin_resource_path(offer.specialOffer) }}"
                               class="btn btn-xs btn-primary"
                               title="{{ 'special_offer.label.singular'|trans({}, 'EkynaProduct') }}">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        {% endif -%}
                        {% endif -%}
                        {% if offer.pricing is not null -%}
                        {% if offer.pricing.product is null -%}
                        <a href="{{ admin_resource_path(offer.pricing) }}"
                           class="btn btn-xs btn-default"
                            title="{{ 'pricing.label.singular'|trans({}, 'EkynaProduct') }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {%- endif %}
                        {%- endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% if loop.last or loop.index % 3 == 0 %}
    </div>
    {% endif %}
{% else %}
    <p><em>{{ 'product.alert.no_offer'|trans({}, 'EkynaProduct') }}</em></p>
{% endfor %}
</div>
{% endapply %}
