{% spaceless %}
<div class="show-product-offers">
{% for list in offer_list %}
    {% if loop.index0 % 4 == 0 %}
    <div class="row">
    {% endif %}
        <div class="col-sm-6 col-md-3">
            <div class="offers-list">
                <p class="h5">{{ list.title }}</p>
                <table class="table table-condensed">
                    <tr>
                        <th>Qty. Min.</th>
                        <th>Percent</th>
                        <th>Net price</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for offer in list.offers %}
                    <tr>
                        <td>{{ offer.minQuantity }}</td>
                        <td>{{ (offer.percent/100)|localizednumber('percent') }}</td>
                        <td>{{ offer.netPrice|localizedcurrency(commerce_default_currency) }}</td>
                        <td>
                        {% if offer.pricing is not null -%}
                            <a href="{{ admin_resource_path(offer.pricing) }}"
                               class="btn btn-xs btn-default"
                                title="{{ 'ekyna_product.pricing.label.singular'|trans }}">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        {%- elseif offer.specialOffer is not null -%}
                            <a href="{{ admin_resource_path(offer.specialOffer) }}"
                               class="btn btn-xs btn-primary"
                               title="{{ 'ekyna_product.special_offer.label.singular'|trans }}">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        {% endif -%}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% if loop.last or loop.index % 4 == 0 %}
    </div>
    {% endif %}
{% endfor %}
</div>
{% endspaceless %}