{% spaceless %}
{% if prices_list is not empty %}
<hr>
<h3>{{ 'ekyna_product.price.label.plural'|trans }}</h3>
<div class="show-product-offers">
{% for list in prices_list %}
    {% if loop.index0 % 3 == 0 %}
    <div class="row">
    {% endif %}
        <div class="col-sm-12 col-md-4">
            <div class="prices-list">
                <p class="h5">{{ list.title }}</p>
                <table class="table table-condensed table-alt-head">
                    <tr>
                        <th>Percent</th>
                        <th>Net price</th>
                    </tr>
                    {% for price in list.prices %}
                    <tr>
                        <td>
                            <strong>{{ price.percent|localizednumber }}&nbsp;%</strong>
                            ({%- for percent in price.detailedPercents -%}
                                {{ percent|localizednumber }}&nbsp;%{% if not loop.last %},&nbsp;{% endif -%}
                            {%- endfor -%})
                        </td>
                        <td>
                            {% if price.originalPrice > price.sellPrice %}
                                <del>{{ price.originalPrice|localizedcurrency(commerce_default_currency) }}</del>&nbsp;
                            {% endif %}
                            <strong class="text-primary">{{ price.sellPrice|localizedcurrency(commerce_default_currency) }}</strong>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% if loop.last or loop.index % 3 == 0 %}
    </div>
    {% endif %}
{% endfor %}
</div>
{% endif %}
{% endspaceless %}