{% import "EkynaProductBundle:Admin/Product/Show:_macro.html.twig" as macros %}
{% import "EkynaCommerceBundle:Admin/Stock:_subject_macros.html.twig" as stock_macros %}

<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#product-general" id="toggle-product-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        {% block pricing_tab %}
        <li>
            <a href="#product-pricing" id="toggle-product-pricing" data-toggle="tab">
                {{- 'ekyna_product.product.field.pricing'|trans -}}
            </a>
        </li>
        {% endblock pricing_tab %}
        {% block stock_tab %}
        <li>
            <a href="#product-stock" id="toggle-product-stock" data-toggle="tab">
                {{- 'ekyna_product.product.field.stock'|trans -}}
            </a>
        </li>
        {% endblock stock_tab %}
        {% if supplierProducts is defined %}
        <li>
            <a href="#product-suppliers" id="toggle-product-suppliers" data-toggle="tab">
                {{ 'ekyna_commerce.supplier.label.plural'|trans }}
            </a>
        </li>
        {% endif %}
        {% block seo_tab %}
        <li>
            <a href="#product-seo" id="toggle-product-seo" data-toggle="tab">
                {{ 'ekyna_core.field.seo'|trans }}
            </a>
        </li>
        {% endblock seo_tab %}
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="product-general">
            {% block general_content %}
                {{ macros.show_designation(product) }}
            {% endblock general_content %}
            </div>

            {% block pricing_pane %}
                <div class="tab-pane" id="product-pricing">
                {% block pricing_content %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ macros.show_net_price(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                        <div class="col-md-6">
                            {{ macros.show_tax_group(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ macros.show_reference(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                        <div class="col-md-6">
                            {{ macros.show_weight(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                    </div>
                {% endblock pricing_content %}
                {{ macros.show_option_groups(product) }}
                </div>
            {% endblock pricing_pane %}

            {% block stock_pane %}
                <div class="tab-pane" id="product-stock">
                {% block stock_content %}
                    {{ stock_macros.show_stock_view(product, 'product') }}
                {% endblock stock_content %}
                </div>
            {% endblock stock_pane %}

            {% if supplierProducts is defined %}
            <div class="tab-pane" id="product-suppliers">
                {% if newSupplierProductForm is defined %}
                <div style="text-align: right">
                    {{ bootstrap_set_sizing('sm') }}
                    {{ form_start(newSupplierProductForm, { 'style': 'inline' }) }}
                    {{ form_row(newSupplierProductForm.supplier) }}
                    {{ form_widget(newSupplierProductForm.submit) }}
                    {{ form_end(newSupplierProductForm) }}
                    {{ bootstrap_set_sizing('md') }}
                </div>
                <hr>
                {% endif %}
                {{ ekyna_table_render(supplierProducts) }}
            </div>
            {% endif %}

            {% block seo_pane %}
                <div class="tab-pane" id="product-seo">
                {% block seo_content %}
                    {{ macros.show_seo(product) }}
                {% endblock seo_content %}
                </div>
            {% endblock seo_pane %}
        </div>
    </div>
</div>
{% block children_content %}{% endblock children_content %}

