{% import "EkynaProductBundle:Admin/Product/Show:_macro.html.twig" as macros %}
{% import "EkynaCommerceBundle:Admin/Stock:_subject_macros.html.twig" as subject_macros %}

<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#product-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        {% block pricing_tab %}
        <li>
            <a href="#product-pricing" data-toggle="tab">
                {{- 'ekyna_product.product.field.pricing'|trans -}}
            </a>
        </li>
        {% endblock pricing_tab %}
        {% block stock_tab %}
        <li>
            <a href="#product-stock" data-toggle="tab">
                {{- 'ekyna_product.product.field.stock'|trans -}}
            </a>
        </li>
        {% endblock stock_tab %}
        {% block seo_tab %}
        <li>
            <a href="#product-seo" data-toggle="tab">
                {{ 'ekyna_core.field.seo'|trans }}
            </a>
        </li>
        {% endblock seo_tab %}
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="product-general">
            {% block general_content %}
                {{ macros.show_designation(product) }}
            {% endblock general_content %}
            </div>

            {% block pricing_pane %}
                <div class="tab-pane" id="product-pricing">
                {% block pricing_content %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ macros.show_net_price(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                        <div class="col-md-6">
                            {{ macros.show_tax_group(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ macros.show_reference(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                        <div class="col-md-6">
                            {{ macros.show_weight(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                    </div>
                {% endblock pricing_content %}
                </div>
            {% endblock pricing_pane %}

            {% block stock_pane %}
                <div class="tab-pane" id="product-stock">
                {% block stock_content %}
                    {{ macros.show_geocode(product) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ subject_macros.show_stock_mode(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                        <div class="col-md-6">
                            {{ subject_macros.show_stock_state(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ subject_macros.show_in_stock(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                        <div class="col-md-6">
                            {{ subject_macros.show_ordered_stock(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ subject_macros.show_shipped_stock(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                        <div class="col-md-6">
                            {{ subject_macros.show_eta(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                        </div>
                    </div>
                {% endblock stock_content %}
                </div>
            {% endblock stock_pane %}

            {% block seo_pane %}
                <div class="tab-pane" id="product-seo">
                {% block seo_content %}
                    {{ macros.show_seo(product) }}
                {% endblock seo_content %}
                </div>
            {% endblock seo_pane %}
        </div>
    </div>
</div>
{% block children_content %}{% endblock children_content %}

