{% extends '@EkynaProduct/Admin/Product/Show/base.html.twig' %}


{% import '@EkynaProduct/Admin/Product/Show/_macro.html.twig' as _product %}


{% block pricing_tab %}
    <li>
        <a href="#{{ resource_name }}-pricing" id="toggle-product-pricing" data-toggle="tab">
            {{- 'product.field.composition'|trans({}, 'EkynaProduct') -}}
        </a>
    </li>
{% endblock pricing_tab %}


{% block general_content %}
    {{ parent() }}
    {{ _product.show_categories(product) }}
    <div class="row">
        <div class="col-md-6">
            {{ _product.show_brand(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ _product.show_brandNaming(product, {'label_col': 4}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ _product.show_visible(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ _product.show_visibility(product, {'label_col': 4}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ _product.show_best_seller(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ _product.show_cross_selling(product, {'label_col': 4}) }}
        </div>
    </div>
    {{ _product.show_cross_sellings(product) }}
{% endblock general_content %}


{% block pricing_content %}
    {{ parent() }}
    {{ _product.show_references(product) }}
    {{ _product.show_bundle_composition(product) }}
{% endblock pricing_content %}
