{% extends "EkynaProductBundle:Admin/Product/Show:base.html.twig" %}


{% import "EkynaProductBundle:Admin/Product/Show:_macro.html.twig" as macros %}


{% block pricing_tab %}
    <li>
        <a href="#product-pricing" id="toggle-product-pricing" data-toggle="tab">
            {{- 'ekyna_product.product.field.composition'|trans -}}
        </a>
    </li>
{% endblock pricing_tab %}


{% block general_content %}
    {{ parent() }}
    {{ macros.show_categories(product) }}
    {{ macros.show_brand(product) }}
    <div class="row">
        <div class="col-md-6">
            {{ macros.show_visible(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ macros.show_quoteOnly(product, {'label_nb_col': 4, 'widget_nb_col': 8}) }}
        </div>
    </div>
    {{ macros.show_translations(product) }}
    {{ macros.show_medias(product) }}
{% endblock general_content %}


{% block pricing_content %}
    {{ parent() }}
    {{ macros.show_bundle_composition(product) }}
{% endblock pricing_content %}
