{% extends '@EkynaProduct/Admin/Product/Show/base.html.twig' %}


{% import '@EkynaProduct/Admin/Product/Show/_macro.html.twig' as _product %}
{% import '@EkynaCommerce/Admin/macros.html.twig' as _commerce %}


{% block general_content %}
    {{ parent() }}
    {{ _product.show_categories(product) }}
    <div class="row">
        <div class="col-md-6">
            {{ _product.show_brand(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ _product.show_brandNaming(product, {'label_col': 4}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ _product.show_released_at(product, {'label_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ _product.show_visible(product, {'label_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ _product.show_visibility(product, {'label_col': 6}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ _product.show_best_seller(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ _product.show_cross_selling(product, {'label_col': 4}) }}
        </div>
    </div>
    {{ _product.show_cross_sellings(product) }}
    {{ _product.show_attribute_set(product) }}
    {{ _product.show_attributes(product) }}
    {{ show_row(product, 'tags', {
        'id': 'product_tags'
    }) }}
{% endblock general_content %}


{% block content_content %}
    {{ parent() }}
    {{ _commerce.show_mentions(product) }}
{% endblock content_content %}


{% block pricing_content %}
    {{ parent() }}
    {{ _product.show_customer_groups(product) }}
    {{ _product.show_references(product) }}
    {{ _product.show_adjustments(product) }}
{% endblock pricing_content %}


{% block stock_content %}
    {{ parent() }}
    {{ _product.show_stock_units(product) }}
{% endblock stock_content %}
