{% extends '@EkynaProduct/Admin/Product/Show/base.html.twig' %}


{% import '@EkynaProduct/Admin/Product/Show/_macro.html.twig' as _product %}
{% import '@EkynaCommerce/Admin/macros.html.twig' as _commerce %}


{% block general_content %}
    {{ parent() }}
    {{ _product.show_categories(product) }}
    <div class="row">
        <div class="col-md-6">
            {{ _product.show_brand(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ _product.show_brandNaming(product, {'label_col': 4}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ _product.show_visible(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ _product.show_visibility(product, {'label_col': 4}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ _product.show_best_seller(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ _product.show_cross_selling(product, {'label_col': 4}) }}
        </div>
    </div>
    {{ _product.show_cross_sellings(product) }}
    {{ _product.show_attribute_set(product) }}
{% endblock general_content %}


{% block content_content %}
    {{ parent() }}
    {{ _commerce.show_mentions(product) }}
{% endblock content_content %}


{% block children_content %}
    <div class="sub-header">
        <h2>{{ 'variant.header.list'|trans({}, 'EkynaProduct')|raw }}</h2>
    </div>
    <div class="actions">
        {{ admin_resource_btn(context.config.id, 'Ekyna\\Bundle\\ProductBundle\\Action\\Admin\\Product\\CreateAction', {
            'label': t('variant.button.new', [], 'EkynaProduct'),
            'parameters': {
                'parent': product.id,
                'type': 'variant'
            }
        }) }}
    </div>
    {{ ekyna_table_render(admin_resource_table('ekyna_product.product', {
        'variant_mode': true,
        'source': product.variants.toArray()
    })) }}
{% endblock children_content %}
