{% extends "EkynaProductBundle:Admin/Product/Show:base.html.twig" %}


{% import "EkynaProductBundle:Admin/Product/Show:_macro.html.twig" as macros %}


{% block general_content %}
    {{ parent() }}
    {{ macros.show_brand(product) }}
    {{ macros.show_categories(product) }}
    {{ macros.show_translations(product) }}
    {{ macros.show_attribute_set(product) }}
    {{ macros.show_medias(product) }}
{% endblock general_content %}


{% block children_content %}
    <div class="sub-header">
        <h2>{{ 'ekyna_product.variant.header.list'|trans|raw }}</h2>
    </div>
    <div class="actions">
        {{ admin_resource_btn('ekyna_product.product', 'new', {
            'label': 'ekyna_product.variant.button.new',
            'path': path('ekyna_product_product_admin_new', {
                'parent': product.id,
                'type': 'variant'
            })
        }) }}
    </div>
    {{ ekyna_table_render(variants) }}
{% endblock children_content %}
