{% extends '@EkynaProduct/Admin/Product/Show/base.html.twig' %}


{% import '@EkynaProduct/Admin/Product/Show/_macro.html.twig' as macros %}
{% import '@EkynaCommerce/Admin/macros.html.twig' as _commerce %}


{% block general_content %}
    {{ parent() }}
    {{ macros.show_categories(product) }}
    <div class="row">
        <div class="col-md-6">
            {{ macros.show_brand(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ macros.show_brandNaming(product, {'label_col': 4}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ macros.show_visible(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ macros.show_visibility(product, {'label_col': 4}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ macros.show_best_seller(product, {'label_col': 4}) }}
        </div>
        <div class="col-md-6">
            {{ macros.show_cross_selling(product, {'label_col': 4}) }}
        </div>
    </div>
    {{ macros.show_cross_sellings(product) }}
    {{ macros.show_attribute_set(product) }}
{% endblock general_content %}


{% block content_content %}
    {{ parent() }}
    {{ _commerce.show_mentions(product) }}
{% endblock content_content %}


{% block children_content %}
    <div class="sub-header">
        <h2>{{ 'ekyna_product.variant.header.list'|trans|raw }}</h2>
    </div>
    <div class="actions">
        {{ admin_resource_btn('ekyna_product.product', 'new', {
            'label': 'ekyna_product.variant.button.new',
            'path': path('ekyna_product_product_admin_new', {
                'parent': product.id,
                'type': 'variant'
            })
        }) }}
    </div>
    {{ ekyna_table_render(variants) }}
{% endblock children_content %}
