{% extends '@EkynaProduct/Admin/Product/Show/base.html.twig' %}


{% import '@EkynaProduct/Admin/Product/Show/_macro.html.twig' as _product %}


{% block general_content %}
    {{ parent() }}
    {{- show_row(product.attributesDesignation, 'text', {
        'label': t('product.field.attributes_designation', [], 'EkynaProduct'),
        'id': 'product_attributesDesignation'
    }) -}}
    <div class="row">
        <div class="col-md-8">
            {{ _product.show_variable(product, {'label_col': 3}) }}
        </div>
        <div class="col-md-4">
            {{ _product.show_visible(product, {'label_col': 6}) }}
        </div>
    </div>
    {{ _product.show_attributes(product) }}
    {{ show_row(product, 'tags', {
        'id': 'product_tags'
    }) }}
{% endblock general_content %}


{% block pricing_content %}
    {{ parent() }}
    {{ _product.show_customer_groups(product) }}
    {{ _product.show_references(product) }}
    {{ _product.show_adjustments(product) }}
{% endblock pricing_content %}


{% block stock_content %}
    {{ parent() }}
    {{ _product.show_stock_units(product) }}
{% endblock stock_content %}


{% block seo_tab %}{% endblock seo_tab %}
{% block seo_pane %}{% endblock seo_pane %}
