{% extends theme %}

{% import '@EkynaProduct/Catalog/Template/macros.html.twig' as macros %}

{% block content -%}
{% set product = (page.slots|first).product %}
<div class="product full">
    <div class="inner">
        {{ macros.title(catalog, product) }}
        <div class="row">
            <div class="col-xs-8">
                {{ macros.image(catalog, product) }}
            </div>
            <div class="col-xs-4">
                {{ macros.infos(catalog, product) }}
                {{ macros.grid(catalog, product) }}
            </div>
        </div>
        <div class="description">{{ product.description|raw }}</div>
    </div>
</div>
{% endblock content -%}