{% extends "EkynaAdminBundle:Entity:content.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_product.category.header.content_show'|trans({'%name%': page.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(category, 'list') }}
{{ admin_resource_btn(category, 'new') }}
{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(category, 'edit', {'label': 'ekyna_core.button.content_edit', 'path': path('ekyna_product_category_admin_content_edit', identifiers|merge({'categoryId': category.id}))}) }}
    {{ admin_resource_btn(category, 'show', {'label': 'ekyna_core.button.back_to_show'}) }}
</div>
<div class="show">
    {{ cms_content(page.content) }}
</div>
{% endblock %}

{% block side %}
{% endblock %}