{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_product.category.header.content_edit'|trans({'%name%': category.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(category, 'list') }}
{{ admin_resource_btn(category, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_product_category_admin_content_edit', identifiers|merge({'categoryId': category.id})) }}" {{ form_enctype(form) }} method="post">
    <div class="form-body">
	    {{ form_widget(form) }}
    </div>
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}