{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_product.category.header.new_child'|trans({'%name%': category.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_product_category_admin_list', identifiers), 'ekyna_core.button.back_to_list', 'default', 'sm', 'list') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_product_category_admin_new_child', {'categoryId': category.id}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaProductBundle:Category/Admin:_form.html.twig" %}
    {{ ui_form_footer(path('ekyna_product_category_admin_list', identifiers)) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}