{% extends theme %}

{% import '@EkynaProduct/Catalog/Template/macros.html.twig' as macros %}

{% block content -%}
{% spaceless %}
{% for slot in page.slots|slice(0, 2) -%}
    {% set product = slot.product %}
    <div class="product half {{ loop.first ? 'left' : 'right' }}">
        <div class="inner">
            <div class="row">
            {% if loop.first -%}
                <div class="col-xs-6">{{ macros.image(catalog, product) }}</div>
                <div class="col-xs-6">
                    {{ macros.title(catalog, product) }}
                    <div class="row">
                        <div class="col-xs-6">
                            {{ macros.infos(catalog, product) }}
                        </div>
                        <div class="col-xs-6">
                            {{ macros.grid(catalog, product) }}
                        </div>
                    </div>
                </div>
            {%- else -%}
                <div class="col-xs-6">
                    {{ macros.title(catalog, product) }}
                    <div class="row">
                        <div class="col-xs-6">
                            {{ macros.infos(catalog, product) }}
                        </div>
                        <div class="col-xs-6">
                            {{ macros.grid(catalog, product) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">{{ macros.image(catalog, product) }}</div>
            {%- endif %}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="description">{{ product.description|raw }}</div>
                </div>
            </div>
        </div>
    </div>
{%- endfor %}
{% endspaceless %}
{% endblock content %}