{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_product.tax.header.edit'|trans({'%name%': tax.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(tax, 'list') }}
{{ admin_resource_btn(tax, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_product_tax_admin_edit', {'taxId': tax.id}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaProductBundle:Tax/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}