{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_product.tax.header.new'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn('ekyna_product.tax', 'list') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_product_tax_admin_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaProductBundle:Tax/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}