{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_product.tax.header.remove'|trans({'%name%': tax.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(tax, 'list') }}
{{ admin_resource_btn(tax, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_product_tax_admin_remove', {'taxId': tax.id}) }}" method="post" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
		{{ form_widget(form) }}
    </div>
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}