{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.stock_unit.header.show'|trans }}</h1>
{% endblock title %}

{% block actions %}{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(productStockUnit.product, 'show', {
        'label': 'ekyna_core.button.back',
        'icon': 'arrow-left',
        'theme': 'default',
    }) }}
    {{ admin_resource_btn(productStockUnit, 'edit') }}
    {{ admin_resource_btn(productStockUnit, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#product-stock-unit-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="product-stock-unit-general">
                {# TODO status #}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(productStockUnit.netPrice, 'number', {
                            'label': 'ekyna_commerce.field.buy_net_price',
                            'label_col': 4
                            'append': ' €'
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(productStockUnit.geocodes|join(', '), 'text', {
                            'label': 'ekyna_commerce.field.geocode',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(productStockUnit.estimatedDateOfArrival, 'datetime', {
                            'label': 'ekyna_commerce.field.estimated_date_of_arrival',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(productStockUnit.orderedQuantity, 'number', {
                            'label': 'ekyna_commerce.stock_unit.field.ordered_quantity',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(productStockUnit.receivedQuantity, 'number', {
                            'label': 'ekyna_commerce.stock_unit.field.received_quantity',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(productStockUnit.shippedQuantity, 'number', {
                            'label': 'ekyna_commerce.stock_unit.field.shipped_quantity',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
