{% block widget_attributes -%}{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor -%}{% endblock widget_attributes %}

{% block attribute_config_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% if value is empty -%}
            <em>{{ 'ekyna_core.value.none'|trans }}</em>
        {%- else -%}
            {% for config in value -%}
                {{ show_row(config.value, config.type, config.options) }}
            {%- endfor %}
        {%- endif %}
    </div>
{% endspaceless %}
{% endblock attribute_config_widget %}