{% extends '@EkynaAdmin/Entity/Crud/update.html.twig' %}

{% set product = context.resource %}

{% import '@EkynaProduct/Admin/Product/_macro.html.twig' as macros %}

{% block title %}
    <h1>{{ 'product.header.duplicate'|trans({'%name%': source}, 'EkynaProduct')|raw }}</h1>
    {{ product|product_type_badge }}
{% endblock title %}

{% block actions %}
    {{ admin_resource_btn(context.config.id, 'Ekyna\\Bundle\\AdminBundle\\Action\\ListAction') }}
    {{ macros.export_products_button() }}
    {{ macros.new_product_button() }}
{% endblock actions %}


{% block main %}
    <div class="alert alert-warning">
        {% set fields = [
            t('field.designation', {}, 'EkynaUi'),
            t('field.visible', {}, 'EkynaUi'),
            t('field.net_price', {}, 'EkynaCommerce'),
            t('field.weight', {}, 'EkynaUi'),
            t('field.geocode', {}, 'EkynaCommerce'),
            t('product_reference.label.plural', {}, 'EkynaProduct'),
        ] %}
        <p>
            Veuillez vérifier les valeurs des champs :
            {% for field in fields %}{% if not loop.first %}{% if loop.last %} et {% else %}, {% endif %}{% endif %}<strong>{{ field|trans }}</strong>{% endfor -%}
        </p>
    </div>
    {{ parent() }}
{% endblock main %}


{% block side %}
    {{ parent() }}
    <h3>{{ source }}</h3>
    <hr>
    <dl class="dl-horizontal">
        <dt>{{ 'field.designation'|trans({}, 'EkynaUi') }}</dt>
        <dd>{{ source.designation }}</dd>
        <dt>{{ 'field.visible'|trans({}, 'EkynaUi') }}</dt>
        <dd>{% if source.visible %}{{ 'value.yes'|trans({}, 'EkynaUi') }}{% else %}{{ 'value.no'|trans({}, 'EkynaUi') }}{% endif %}</dd>
        <dt>{{ 'field.net_price'|trans({}, 'EkynaCommerce') }}</dt>
        <dd>{{ source.netPrice|format_currency(commerce_default_currency) }}</dd>
        <dt>{{ 'field.weight'|trans({}, 'EkynaUi') }}</dt>
        <dd>{{ source.weight|format_number }}&nbsp;kg</dd>
        <dt>{{ 'field.geocode'|trans({}, 'EkynaCommerce') }}</dt>
        <dd>{{ source.geocode }}</dd>
        <dt>{{ 'product_reference.label.plural'|trans({}, 'EkynaProduct') }}</dt>
        <dd>
            {% if source.references is not empty %}
                {% for reference in source.references %}
                    <em>{{ reference|product_reference_type_label }}</em> : {{ reference.code }}<br>
                {% endfor %}
            {% else %}
                <em>{{ 'value.none'|trans({}, 'EkynaUi') }}</em>
            {% endif %}
        </dd>
    </dl>
{% endblock side %}
