{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% import '@EkynaProduct/Admin/Product/_macro.html.twig' as macros %}

{% block title %}
    {{ admin_resource_pin(resource) }}
    <h1>{{ 'ekyna_product.product.header.show'|trans({'%name%': product})|raw }}</h1>
{% endblock title %}

{% block actions %}
    {% if product is variant_product %}
        {{ ui_button('ekyna_product.product.field.parent', {
            'type': 'link',
            'icon': 'arrow-up',
            'path': admin_resource_path(product.parent)
        }) }}
    {% endif %}
    {{ admin_resource_btn(product, 'list') }}
    {{ macros.new_product_button() }}
{% endblock actions %}

{% block main %}
    <div class="main-header">
        <div class="infos">
            {{ product|product_type_badge }}
            {{ product|cms_tags({'text': false}) }}
        </div>
        <div class="actions">
            {% if product is simple_product or product is variant_product %}
                {{ ui_button('ekyna_commerce.button.print_label', {
                    'type': 'link',
                    'icon': 'barcode',
                    'path': path('ekyna_product_product_admin_label', {
                        'format': 'large',
                        'id': [product.id],
                    }),
                }, {'target': '_blank'}) }}
            {% endif %}
            {{ macros.convert_product_button(product) }}
            {%- if product is simple_product -%}{# TODO temp lock #}
                {{ ui_button('ekyna_core.button.duplicate', {
                    'type': 'link',
                    'icon': 'duplicate',
                    'path': admin_resource_path(product, 'duplicate'),
                }) }}
            {%- endif -%}
            {{ admin_resource_btn(product, 'public') }}
            {{ admin_resource_btn(product, 'editor') }}
            {{ admin_resource_btn(product, 'edit', {'short': true}) }}
            {{ admin_resource_btn(product, 'remove', {'short': true}) }}
        </div>
    </div>
    {% if product is simple_product %}
        {% include '@EkynaProduct/Admin/Product/Show/simple.html.twig' %}
    {% elseif product is variable_product %}
        {% include '@EkynaProduct/Admin/Product/Show/variable.html.twig' %}
    {% elseif product is variant_product %}
        {% include '@EkynaProduct/Admin/Product/Show/variant.html.twig' %}
    {% elseif product is bundle_product %}
        {% include '@EkynaProduct/Admin/Product/Show/bundle.html.twig' %}
    {% elseif product is configurable_product %}
        {% include '@EkynaProduct/Admin/Product/Show/configurable.html.twig' %}
    {% else %}
        <div class="panel-body form-body">
            <p>Unexpected product type.</p>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynaproduct/css/admin/show.css') }}" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-product/admin/show']);</script>
{% endblock javascripts %}
