{% apply spaceless %}
<table style="width:100%">
    <tr>
        <td rowspan="2" class="text-center">
            <img src="{% if image is defined %}{{ image }}{% else %}/bundles/ekynamedia/img/media-none.gif{% endif %}"
                 width="120" height="90" alt="Product image" style="margin-right:15px">
        </td>
        <td colspan="2">
            <p>
                {{ type|product_type_badge }}
                <strong style="font-size:15px;margin-left:8px;">{{ brand }}</strong><br>
                <span style="font-size:15px">{{ designation }}</span>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <dl class="dl-horizontal">
                <dt>{{ 'field.reference'|trans({}, 'EkynaUi') }}</dt>
                <dd>{{ reference|first }}</dd>
                <dt>{{ 'field.net_price'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>
                    {{ net_price|format_currency(commerce_default_currency) -}}
                    &nbsp;(min&nbsp;{{ min_price|format_currency(commerce_default_currency) }})
                </dd>
            </dl>
        </td>
        <td>
        {% if suppliers is not empty -%}
        <dl class="dl-horizontal">
            {% for supplier in suppliers -%}
                <dt>{{ supplier.name }}</dt>
                <dd>{{ supplier.net_price|format_currency(supplier.currency) }}</dd>
            {%- endfor %}
        </dl>
        {%- endif %}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <dl class="dl-horizontal">
                <dt>{{ 'field.mode'|trans({}, 'EkynaUi') }}</dt>
                <dd>{{ mode_badge|raw }}</dd>
                <dt>{{ 'field.geocode'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ geocode }}</dd>
                <dt>{{ 'field.in_stock'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ in }}</dd>
                <dt>{{ 'field.virtual_stock'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ virtual }}</dd>
                <dt>{{ 'stock_subject.field.replenishment_time'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ replenishment }}</dd>
                <dt>{{ 'stock_subject.field.quote_only'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ quote_only }}</dd>
                <dt>{{ 'field.visible'|trans({}, 'EkynaUi') }}</dt>
                <dd>{{ ('value.' ~ (visible ? 'yes' : 'no'))|trans({}, 'EkynaUi') }}</dd>
            </dl>
        </td>
        <td>
            <dl class="dl-horizontal">
                <dt>{{ 'field.status'|trans({}, 'EkynaUi') }}</dt>
                <dd>{{ state_badge|raw }}</dd>
                <dt>{{ 'stock_subject.field.minimum_order_quantity'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ moq }}</dd>
                <dt>{{ 'field.available_stock'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ available }}</dd>
                <dt>{{ 'stock_subject.field.floor'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ floor }}</dd>
                <dt>{{ 'field.replenishment_eda'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ eda }}</dd>
                <dt>{{ 'stock_subject.field.end_of_life'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ end_of_life }}</dd>
                <dt>{{ 'common.visibility'|trans({}, 'EkynaProduct') }}</dt>
                <dd>{{ visibility }}</dd>
            </dl>
        </td>
    </tr>
</table>
{% endapply %}
