{% spaceless %}
<table style="width:100%">
    <tr>
        <td rowspan="2" class="text-center">
            <img src="{% if image is defined %}{{ image }}{% else %}/bundles/ekynamedia/img/media-none.gif{% endif %}"
                 width="120" height="90" alt="Product image" style="margin-right:15px">
        </td>
        <td colspan="2">
            <p>
                {{ type|product_type_badge }}
                <strong style="font-size:15px;margin-left:8px;">{{ brand }}</strong><br>
                <span style="font-size:15px">{{ designation }}</span>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <dl class="dl-horizontal">
                <dt>{{ 'ekyna_core.field.reference'|trans }}</dt>
                <dd>{{ reference|first }}</dd>
                <dt>{{ 'ekyna_commerce.field.net_price'|trans }}</dt>
                <dd>
                    {{ net_price|localizedcurrency(commerce_default_currency) -}}
                    &nbsp;(min&nbsp;{{ min_price|localizedcurrency(commerce_default_currency) }})
                </dd>
            </dl>
        </td>
        <td>
        {% if suppliers is not empty -%}
        <dl class="dl-horizontal">
            {% for supplier in suppliers -%}
                <dt>{{ supplier.name }}</dt>
                <dd>{{ supplier.price|localizedcurrency(supplier.currency) }}</dd>
            {%- endfor %}
        </dl>
        {%- endif %}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <dl class="dl-horizontal">
                <dt>{{ 'ekyna_core.field.mode'|trans }}</dt>
                <dd>{{ mode_badge|raw }}</dd>
                <dt>{{ 'ekyna_commerce.field.geocode'|trans }}</dt>
                <dd>{{ geocode }}</dd>
                <dt>{{ 'ekyna_commerce.field.in_stock'|trans }}</dt>
                <dd>{{ in }}</dd>
                <dt>{{ 'ekyna_commerce.field.virtual_stock'|trans }}</dt>
                <dd>{{ virtual }}</dd>
                <dt>{{ 'ekyna_commerce.stock_subject.field.replenishment_time'|trans }}</dt>
                <dd>{{ replenishment }}</dd>
                <dt>{{ 'ekyna_commerce.stock_subject.field.quote_only'|trans }}</dt>
                <dd>{{ quote_only }}</dd>
            </dl>
        </td>
        <td>
            <dl class="dl-horizontal">
                <dt>{{ 'ekyna_core.field.status'|trans }}</dt>
                <dd>{{ state_badge|raw }}</dd>
                <dt>{{ 'ekyna_commerce.stock_subject.field.minimum_order_quantity'|trans }}</dt>
                <dd>{{ moq }}</dd>
                <dt>{{ 'ekyna_commerce.field.available_stock'|trans }}</dt>
                <dd>{{ available }}</dd>
                <dt>{{ 'ekyna_commerce.stock_subject.field.floor'|trans }}</dt>
                <dd>{{ floor }}</dd>
                <dt>{{ 'ekyna_commerce.field.replenishment_eda'|trans }}</dt>
                <dd>{{ eda }}</dd>
                <dt>{{ 'ekyna_commerce.stock_subject.field.end_of_life'|trans }}</dt>
                <dd>{{ end_of_life }}</dd>
            </dl>
        </td>
    </tr>
</table>
{% endspaceless %}
