{% apply spaceless %}
<div class="table-responsive">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>{{ 'field.name'|trans({}, 'EkynaUi') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for catalog in catalogs -%}
            {% set path = path('ekyna_product_account_catalog_show', {'catalogId': catalog.id}) -%}
            <tr>
                <td>
                    <a href="{{ path }}">{{ catalog.title }}</a>
                </td>
                <td class="text-right">
                    <a href="{{ path }}" class="btn btn-xs btn-default">
                        {{- 'button.show'|trans({}, 'EkynaUi') -}}
                    </a>&nbsp;
                    <a href="{{ path('ekyna_product_account_catalog_print', {'catalogId': catalog.id}) }}"
                       class="btn btn-xs btn-primary">
                        {{- 'account.catalog.print.button'|trans({}, 'EkynaProduct')|trans -}}
                    </a>&nbsp;
                    <a href="{{ path('ekyna_product_account_catalog_edit', {'catalogId': catalog.id}) }}"
                       class="btn btn-xs btn-warning">
                        {{- 'button.edit'|trans({}, 'EkynaUi') -}}
                    </a>&nbsp;
                    <a href="{{ path('ekyna_product_account_catalog_remove', {'catalogId': catalog.id}) }}"
                       class="btn btn-xs btn-danger">
                        {{- 'button.remove'|trans({}, 'EkynaUi') -}}
                    </a>
                </td>
            </tr>
        {%- else -%}
            <tr>
                <td colspan="{{ 2 }}">
                    <em>{{ 'account.catalog.empty_list'|trans({}, 'EkynaProduct')|trans }}</em>
                </td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
</div>
{% endapply %}
