{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% spaceless %}

    <h3>{{ 'ekyna_product.account.catalog.show'|trans }}</h3>
    <hr>

    <dl class="dl-horizontal catalog-detail">
        <dt>{{ 'ekyna_core.field.title'|trans }}</dt>
        <dd>
            {{- catalog.title -}}
        </dd>
        <dt>{{ 'ekyna_core.field.description'|trans }}</dt>
        <dd>
            {% if catalog.description is not empty -%}
                {{ catalog.description|raw }}
            {%- else -%}
                <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
            {%- endif %}
        </dd>
        {% for page in catalog.pages -%}
        <dt>Page {{ loop.index }}</dt>
        <dd>
            <ul class="list-unstyled catalog-page">
                {% for slot in page.slots -%}
                <li>
                    <a href="{{ slot.product|subject_public_url }}">
                        {{- slot.product -}}
                    </a>
                </li>
                {%- endfor %}
            </ul>
        </dd>
        {%- endfor %}
    </dl>

    <hr>

    <p class="text-center">
        <a href="{{ path('ekyna_product_account_catalog_print', {'catalogId': catalog.id}) }}"
           class="btn btn-sm btn-primary">
            {{- 'ekyna_product.account.catalog.print.title'|trans -}}
        </a>&nbsp;
        <a href="{{ path('ekyna_product_account_catalog_edit', {'catalogId': catalog.id}) }}"
           class="btn btn-sm btn-warning">
            {{- 'ekyna_product.account.catalog.edit.title'|trans -}}
        </a>&nbsp;
        <a href="{{ path('ekyna_product_account_catalog_remove', {'catalogId': catalog.id}) }}"
           class="btn btn-sm btn-danger">
            {{- 'ekyna_product.account.catalog.remove.title'|trans -}}
        </a>
    </p>

    <p class="text-center">
        <a href="{{ path('ekyna_product_account_catalog_new') }}" class="btn btn-sm btn-primary">
            {{- 'ekyna_product.account.catalog.new.title'|trans -}}
        </a>
    </p>

    <br><br>

    <h3>{{ 'ekyna_product.account.catalog.title'|trans|raw }}</h3>
    <hr>
    {%- include '@EkynaProduct/Account/Catalog/_list.html.twig' with {
        'catalogs': catalogs, 'customer': customer
    } only -%}

{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynaproduct/css/account/catalog.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
