{% spaceless %}
<ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
    <li class="active">
        <a href="#pricing-general" id="toggle-general" data-toggle="tab">
            {{ 'ekyna_core.field.general'|trans }}
        </a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="pricing-general">
            {{ form_row(form.name) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.percent, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.minQuantity, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.stack, {'label_col': 6, 'widget_col': 6}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.startsAt, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.endsAt, {'label_col': 6, 'widget_col': 6}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.enabled, {'label_col': 6, 'widget_col': 6}) }}
                </div>
            </div>
            {{ form_row(form.products) }}
            {{ form_row(form.brands) }}
            {{ form_row(form.groups) }}
            {{ form_row(form.countries) }}
        </div>
    </div>
    {{ form_rest(form) }}
</div>
{% endspaceless %}
