{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(specialOffer, 'edit') }}
    {{ admin_resource_btn(specialOffer, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#special-offer-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="special-offer-general">
                {{ show_row(specialOffer.name, 'text', {
                    'label': 'ekyna_core.field.name'
                }) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(specialOffer.percent, 'number', {
                            'label': 'ekyna_product.common.percent',
                            'label_col': 6,
                            'widget_col': 6,
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(specialOffer.minQuantity, 'number', {
                            'label': 'ekyna_product.common.min_quantity',
                            'label_col': 6,
                            'widget_col': 6,
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(specialOffer.stack, 'boolean', {
                            'label': 'ekyna_product.special_offer.field.stack',
                            'color': true,
                            'label_col': 6,
                            'widget_col': 6,
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(specialOffer.startsAt, 'datetime', {
                            'label': 'ekyna_core.field.start_date',
                            'label_col': 6,
                            'widget_col': 6,
                            'time': false
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(specialOffer.endsAt, 'datetime', {
                            'label': 'ekyna_core.field.end_date',
                            'label_col': 6,
                            'widget_col': 6,
                            'time': false
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(specialOffer.enabled, 'boolean', {
                            'label': 'ekyna_core.field.enabled',
                            'color': true,
                            'label_col': 6,
                            'widget_col': 6,
                        }) }}
                    </div>
                </div>
                {{ show_row(specialOffer.products, 'entity', {
                    'label': 'ekyna_product.product.label.plural',
                    'route': 'ekyna_product_product_admin_show',
                    'route_parameters_map': {'productId': 'id'}
                }) }}
                {{ show_row(specialOffer.brands, 'entity', {
                    'label': 'ekyna_product.brand.label.plural',
                    'route': 'ekyna_product_brand_admin_show',
                    'route_parameters_map': {'brandId': 'id'}
                }) }}
                {{ show_row(specialOffer.groups, 'entity', {
                    'label': 'ekyna_commerce.customer_group.label.plural',
                    'route': 'ekyna_commerce_customer_group_admin_show',
                    'route_parameters_map': {'customerGroupId': 'id'}
                }) }}
                {{ show_row(specialOffer.countries, 'entity', {
                    'label': 'ekyna_product.special_offer.field.countries',
                    'route': 'ekyna_commerce_country_admin_show',
                    'route_parameters_map': {'countryId': 'id'}
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
