<div class="header">
    {% block header -%}
    {% set url = absolute_url('/') %}
    <p>
        {% set address = commerce_warehouse(catalog.context.deliveryCountry) -%}
        {% if address is null -%}
            {% set address = get_setting('general.site_address') %}
        {%- endif -%}
        {%- if address.phone is not empty %}
            {{ 'ekyna_core.field.phone'|trans }}
            {{ address.phone|phone_number_format }}<br>
        {%- elseif address.mobile is not empty -%}
            {{ 'ekyna_core.field.mobile'|trans }}
            {{ address.mobile|phone_number_format }}<br>
        {%- endif -%}

        {# TODO warehouse email #}
        {%- set email = get_setting('general.admin_email') -%}
        <a href="mailto:{{ email }}">{{ email }}</a><br>
        <a href="{{ url }}">{{ url }}</a>
    </p>
    <a href="{{ url }}" class="company-logo">
        <img alt="{{ get_setting('general.site_name') }}" src="{{ absolute_url(asset(logo_path)) }}">
    </a>
    {%- endblock header %}
</div>
<div class="content">
    {% block content %}{% endblock content %}
</div>
<div class="footer">
    {% block footer -%}
    <p>
        {% if catalog.displayPrices -%}
            {{ 'ekyna_product.catalog.field.price_mention'|trans({
                '%date%': catalog.context.date|localizeddate('short', 'none')
            }) }}
        {%- endif %}
        <span class="pull-right">
            {{- 'ekyna_product.catalog.field.pager'|trans({
                '%current%': loop.index,
                '%total%': catalog.pages|length
            }) -}}
        </span>
    </p>
    {%- endblock footer %}
</div>
