<div class="alert alert-warning">
    <p>{{ 'stock_view.message.batch_edit_warning'|trans({}, 'EkynaProduct')|raw }}</p>
    <table class="table table-condensed" style="margin: 10px 0 0 0;">
        {% for product in products %}
        <tr>
            <td>{{ product.brand }}</td>
            <td>{{ product.fullDesignation }}</td>
            <td>{{ product.reference }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{{ bootstrap_set_style('horizontal') }}
{{ bootstrap_set_col_size('md') }}
{{ bootstrap_set_label_col(4) }}
{{ bootstrap_set_widget_col(7) }}
{{ form_errors(form) }}
{% for field in ['stockMode', 'minimumOrderQuantity', 'quoteOnly', 'endOfLife', 'stockFloor', 'replenishmentTime'] %}
{% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form[field]) }}
            <div class="col-md-1">
                {{ form_widget(form[field ~ 'Chk']) }}
            </div>
            <div class="col-md-7">
                {{ form_widget(form[field]) }}
                {{ form_errors(form[field]) }}
            </div>
        </div>
    </div>
{% if loop.index0 % 2 != 0 %}</div>{% endif %}
{% endfor %}
{{ form_rest(form) }}
