{% macro image(catalog, product) %}
{% apply spaceless %}
    {% set image = product.images|first %}
    {% if image %}
    <img src="{{ absolute_url(image.path|imagine_filter('media_front')) }}" alt="{{ image.title }}"
         class="img-responsive" width="800" height="600">
    {% else %}
        <img src="{{ product_default_image() }}" alt="No picture"
             class="img-responsive" width="800" height="600">
    {% endif %}
{% endapply %}
{% endmacro image %}

{% macro title(catalog, product) %}
{% apply spaceless %}
    <h1>
        <span class="brand">{{ product.brand.title }}</span><br>
        {{- product.fullTitle -}}
    </h1>
{% endapply %}
{% endmacro title %}

{% macro grid(catalog, product) %}
{% apply spaceless %}
    {% if catalog.displayPrices -%}
        {{ product|product_pricing_grid(null, 'grid') }}
    {%- endif %}
{% endapply %}
{% endmacro grid %}

{% macro infos(catalog, product) %}
{% apply spaceless %}
    <p class="information">
        <span class="field">{{ 'field.reference'|trans({}, 'EkynaUi') }}</span>&nbsp;
        <span class="reference">{{ product.reference }}</span><br>
        {% set ean13 = product|product_external_reference %}
        {% if ean13 is not empty %}
            <span class="field">{{ 'product_reference.type.ean13'|trans({}, 'EkynaProduct') }}</span>&nbsp;
            <span class="reference">{{ ean13 }}</span><br>
        {% endif %}
        {% if catalog.displayPrices -%}
            <span class="price">{{ product|product_price({'discount': false})|raw }}</span>
        {%- endif %}
    </p>
    <p class="information">
        <a href="{{ product|subject_public_url(false) }}" class="btn btn-primary">
            {{ 'common.read_more'|trans({}, 'EkynaProduct') }}
        </a>
    </p>
{% endapply %}
{% endmacro infos %}
