{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_tabs -%}
    {{ parent() }}
    <li>
        <a href="#{{ resource_name }}-composition" id="toggle-general" data-toggle="tab">
            {{ 'product.field.composition'|trans({}, 'EkynaProduct') }}
        </a>
    </li>
{%- endblock main_tabs %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ form_row(form.title) }}
        {{ form_row(form.theme) }}
        {{ form_row(form.description) }}
    </div>
    <div class="tab-pane" id="{{ resource_name }}-composition">
        {{ form_row(form.pages) }}
    </div>
{%- endblock main_contents -%}
