{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
    <div class="actions">
        {{ ui_button('ekyna_product.catalog.button.render', {
            'type': 'link',
            'icon': 'file',
            'theme': 'primary',
            'path': admin_resource_path(catalog, 'render')
        }) }}
        {{ admin_resource_btn(catalog, 'edit') }}
        {{ admin_resource_btn(catalog, 'remove') }}
    </div>
    <div class="show show-with-tabs">
        <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
            <li class="active">
                <a href="#catalog-general" data-toggle="tab">
                    {{ 'ekyna_core.field.general'|trans }}
                </a>
            </li>
            <li>
                <a href="#catalog-composition" data-toggle="tab">
                    {{ 'ekyna_product.product.field.composition'|trans }}
                </a>
            </li>
        </ul>
        <div class="show-body">
            <div class="tab-content">
                <div class="tab-pane active" id="catalog-general">
                    {{ show_row(catalog.title, 'text', {
                        'label': 'ekyna_core.field.title'
                    }) }}
                    {{ show_row(catalog|catalog_theme_label|trans, 'text', {
                        'label': 'ekyna_core.field.theme'
                    }) }}
                    {{ show_row(catalog.description, 'textarea', {
                        'label': 'ekyna_core.field.description',
                        'html': true
                    }) }}
                </div>
                <div class="tab-pane" id="catalog-composition">
                {% for page in catalog.pages -%}
                    <h4>Page {{ loop.index }} <small>{{ page|catalog_page_template_label|trans }}</small></h4>
                    {% include page|catalog_page_template_path('show') %}
                    <hr>
                {%- endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
