{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}


{% block ekyna_product_attribute_slot_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.group) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.multiple) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.required) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_attribute_slot_widget %}


{% block ekyna_product_bundle_slot_widget %}
{% spaceless %}
    <div class="ekyna-collection-item">
        {{ form_errors(form) }}
        {#{% if configurable %}

        {% else %}

        {% endif %}#}
        {% if form.translations is defined %}
            {{ form_row(form.translations, {'widget_col': 12}) }}
        {% endif %}
        {{ form_row(form.choices, {'widget_col': 12}) }}
        {{ form_widget(form.position) }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock ekyna_product_bundle_slot_widget %}


{% block ekyna_product_bundle_choice_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    <div class="ekyna-collection-item">
        {{ form_errors(form) }}
        {{ form_row(form.product, {'label_col': 2, 'widget_col': 10}) }}
        {% if configurable %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.minQuantity, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.maxQuantity, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {{ form_row(form.rules, {'label_col': 2, 'widget_col': 10}) }}
            {{ form_widget(form.position) }}
        {% else %}
            {{ form_row(form.quantity, {'label_col': 2, 'widget_col': 10}) }}
        {% endif %}
        {{ form_rest(form) }}
    </div>
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_product_bundle_choice_widget %}


{% block ekyna_product_bundle_choice_rule_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(form.type, {'sizing': 'sm'}) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form.expression, {'sizing': 'sm'}) }}
        </div>
    </div>
    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_bundle_choice_rule_widget %}


{% block ekyna_product_option_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    <div class="ekyna-collection-item product-option">
        {{ form_errors(form) }}
        <div class="row form-group">
            <div class="col-md-12">
                {{ form_widget(form.mode) }}
            </div>
        </div>
        <div class="option-product option-wrapper">
            {{ form_widget(form.product) }}
        </div>
        <div class="option-data option-wrapper">
            <div class="row form-group">
                <div class="col-md-12">
                    {{ form_widget(form.designation) }}
                </div>
            </div>
            {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
            <div class="row form-group">
                <div class="col-md-6">
                    {{ form_widget(form.reference) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.weight) }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    {{ form_widget(form.netPrice) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.taxGroup) }}
                </div>
            </div>
        </div>
        {{ form_widget(form.position) }}
        {{ form_rest(form) }}
    </div>
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_product_option_widget %}


{% block ekyna_product_option_group_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    <div class="ekyna-collection-item">
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.required, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
        {{ form_widget(form.position) }}
        {{ form_rest(form) }}
    </div>
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_product_option_group_widget %}


{% block ekyna_product_pricing_rule_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.minQuantity, {'label_col': 4, 'widget_col': 8, 'sizing': 'sm'}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.percent, {'label_col': 4, 'widget_col': 8, 'sizing': 'sm'}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_pricing_rule_widget %}


{% block ekyna_product_reference_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.type, {'sizing': 'sm'}) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.number, {'sizing': 'sm'}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_reference_widget %}

