{%- block ekyna_product_attribute_slot_widget -%}
    {{- form_errors(form) -}}
    <div class="row">
        <div class="col-md-4">
            {{- form_widget(form.attribute) -}}
            {{- form_errors(form.attribute) -}}
        </div>
        <div class="col-md-2">
            {{- form_row(form.required) -}}
        </div>
        <div class="col-md-6">
            {{- form_row(form.naming) -}}
        </div>
    </div>
    {{- form_rest(form) -}}
{%- endblock ekyna_product_attribute_slot_widget -%}


{%- block ekyna_product_product_attributes_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {%- set attributesFrom = form -%}
        {{- form_errors(attributesFrom) -}}
        {%- for child in attributesFrom -%}
        <div class="form-group">
            {{- form_label(child) -}}
            <div class="col-md-10">
                {%- if child.choices is defined -%}
                    {{- form_widget(child.choices) -}}
                {%- else -%}
                    {%- set attr = child.value.vars.attr -%}
                    {%- set form = child.value -%}
                    {{- block('form_input_group') -}}
                {%- endif -%}
            </div>
        </div>
        {%- endfor -%}
        {{- form_rest(attributesFrom) -}}
        {%- set form = attributesFrom -%}
    </div>
{%- endblock ekyna_product_product_attributes_widget -%}


{%- block ekyna_product_bundle_slot_widget -%}
    {%- if form.vars.configurable %}<div class="ekyna-collection-item">{% endif -%}
        {{- form_errors(form) -}}
        {%- if form.vars.configurable -%}
            {{- form_row(form.translations, {'widget_col': 12}) -}}
            <div class="row">
                <div class="col-md-6">
                    {{- form_row(form.media, {'label_col': 4, 'widget_col': 8}) -}}
                </div>
                <div class="col-md-6">
                    {{- form_row(form.required, {'label_col': 4, 'widget_col': 8}) -}}
                </div>
            </div>
            {{- form_row(form.rules, {'label_col': 2, 'widget_col': 10}) -}}
        {%- endif -%}
        {{- form_row(form.choices, {'widget_col': 12}) -}}
        {{- form_rest(form) -}}
    {%- if form.vars.configurable %}</div>{% endif -%}
{%- endblock ekyna_product_bundle_slot_widget -%}


{%- block ekyna_product_bundle_choice_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    <div class="ekyna-collection-item">
        {{- form_errors(form) -}}
        {{- form_row(form.product, {'label_col': 2, 'widget_col': 10}) -}}
        {%- if configurable -%}
            <div class="row">
                <div class="col-md-6">
                    {{- form_row(form.minQuantity, {'label_col': 4, 'widget_col': 8}) -}}
                </div>
                <div class="col-md-6">
                    {{- form_row(form.maxQuantity, {'label_col': 4, 'widget_col': 8}) -}}
                </div>
            </div>
            {{- form_row(form.excludedOptionGroups, {'label_col': 2, 'widget_col': 10}) -}}
            {{- form_row(form.rules, {'label_col': 2, 'widget_col': 10}) -}}
        {%- else -%}
            <div class="row">
                <div class="col-md-6">
                    {{- form_row(form.quantity, {'label_col': 4, 'widget_col': 8}) -}}
                </div>
                <div class="col-md-6">
                    {{- form_row(form.netPrice, {'label_col': 4, 'widget_col': 8}) -}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{- form_row(form.hidden, {'label_col': 4, 'widget_col': 8}) -}}
                </div>
                <div class="col-md-6">
                    {{- form_row(form.excludeImages, {'label_col': 4, 'widget_col': 8}) -}}
                </div>
            </div>
            {{- form_row(form.excludedOptionGroups, {'label_col': 2, 'widget_col': 10}) -}}
        {%- endif -%}
        {{- form_rest(form) -}}
    </div>
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_product_bundle_choice_widget -%}


{%- block ekyna_product_bundle_rule_widget -%}
    {% set prev_sizing = bootstrap_get_sizing() %}
    {{ bootstrap_set_sizing('sm') }}
    {{- form_errors(form) -}}
    <div class="row">
        <div class="col-md-4">
            {{- form_widget(form.type) -}}
            {{- form_errors(form.type) -}}
        </div>
        <div class="col-md-8">
            {{- form_widget(form.conditions) -}}
            {{- form_errors(form.conditions) -}}
        </div>
    </div>
    {{- form_rest(form) -}}
    {{ bootstrap_set_sizing(prev_sizing) }}
{%- endblock ekyna_product_bundle_rule_widget -%}

{%- block ekyna_product_bundle_rule_conditions_widget -%}
    {%- set attr = attr|merge({'class': 'ekyna-collection' }) -%}
    {%- set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' -%}

    {# Prototype #}
    {%- if prototype is defined -%}
        {# Controls #}
        {%- set controls =
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>' -%}
        {%- set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) -%}
        {%- set attr = attr|merge({'data-prototype-name': prototype_name}) -%}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{- form_widget(prototype)|replace({'__controls__': controls}) -}}
        </div>
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
        <table class="table table-condensed table-alt-head" style="margin-bottom:0">
            <thead>
            <tr>
                <th>{{ 'bundle_slot.label.singular'|trans({}, 'EkynaProduct') }}</th>
                <th>{{ 'bundle_choice.label.singular'|trans({}, 'EkynaProduct') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="ekyna-collection-child-container">
            {%- for child in form.children -%}
                {%- set controls =
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>' -%}
                {{- form_widget(child)|replace({'__controls__': controls})|raw -}}
            {%- endfor -%}
            </tbody>
        </table>
        {{- form_errors(form) -}}
        {%- if form.vars.allow_add -%}
        <p>
            <button type="button" class="btn btn-link btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
            </button>
        </p>
        {%- endif -%}
        {{- form_rest(form) -}}
    </div>
{%- endblock ekyna_product_bundle_rule_conditions_widget -%}

{%- block ekyna_product_bundle_rule_condition_widget -%}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) -%}
    <tr {{ block('widget_container_attributes') }}>
        <td>
            {{- form_widget(form.slot) -}}
            {{- form_errors(form.slot) -}}
        </td>
        <td>
            {{- form_widget(form.choice) -}}
            {{- form_errors(form.choice) -}}
        </td>
        <td class="ekyna-collection-controls">__controls__</td>
    </tr>
    {{- form_rest(form) -}}
{%- endblock ekyna_product_bundle_rule_condition_widget -%}


{%- block ekyna_product_catalog_page_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.template is defined -%}
            {{- form_row(form.template) -}}
        {%- endif -%}
        <div class="catalog-page-form">
            {%- if form.options is defined -%}
                {{- form_row(form.options) -}}
            {%- endif -%}
            {%- if form.slots is defined -%}
                {{- form_row(form.slots) -}}
            {%- endif -%}
        </div>
        {{- form_rest(form) -}}
    </div>
{%- endblock ekyna_product_catalog_page_widget -%}


{%- block ekyna_product_catalog_slots_widget -%}
    <div {{ block('widget_container_attributes') }}>
    {{- form_errors(form) -}}
    {%- for child in form -%}
        {{- form_widget(child) -}}
    {%- endfor -%}
    {{- form_rest(form) -}}
    </div>
{%- endblock ekyna_product_catalog_slots_widget -%}


{%- block ekyna_product_catalog_slot_widget -%}
    {{- form_errors(form) -}}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock ekyna_product_catalog_slot_widget -%}


{%- block ekyna_product_component_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    <div class="ekyna-collection-item">
        {{- form_errors(form) -}}
        {{- form_row(form.child, {'label_col': 2, 'widget_col': 10}) -}}
        <div class="row">
            <div class="col-md-6">
                {{- form_row(form.quantity, {'label_col': 4, 'widget_col': 8}) -}}
            </div>
            <div class="col-md-6">
                {{- form_row(form.netPrice, {'label_col': 4, 'widget_col': 8}) -}}
            </div>
        </div>
        {{- form_rest(form) -}}
    </div>
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_product_component_widget -%}


{%- block ekyna_product_cross_selling_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    <div class="ekyna-collection-item">
        {{- form_errors(form) -}}
        {{- form_row(form.target, {'label_col': 2, 'widget_col': 10}) -}}
        {{- form_rest(form) -}}
    </div>
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_product_cross_selling_widget -%}


{%- block ekyna_product_option_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    <div class="ekyna-collection-item product-option">
        {{- form_errors(form) -}}
        <div class="row form-group">
            <div class="col-md-6">
                {{- form_widget(form.mode) -}}
                {{- form_errors(form.mode) -}}
            </div>
            <div class="col-md-6">
                {{- form_widget(form.netPrice) -}}
                {{- form_errors(form.netPrice) -}}
            </div>
        </div>
        <div class="option-product option-wrapper">
            <div class="row form-group">
                <div class="col-md-9">
                    {{- form_widget(form.product) -}}
                    {{- form_errors(form.product) -}}
                </div>
                <div class="col-md-3">
                    {{- form_row(form.cascade) -}}
                </div>
            </div>
        </div>
        <div class="option-data option-wrapper">
            <div class="row form-group">
                <div class="col-md-12">
                    {{- form_widget(form.designation) -}}
                    {{- form_errors(form.designation) -}}
                </div>
            </div>
            {{- form_widget(form.translations, {'label_col': 0, 'widget_col': 12}) -}}
            <div class="row form-group">
                <div class="col-md-6">
                    {{- form_widget(form.reference) -}}
                    {{- form_errors(form.reference) -}}
                </div>
                <div class="col-md-6">
                    {{- form_widget(form.weight) -}}
                    {{- form_errors(form.weight) -}}
                </div>
            </div>
            {{- form_widget(form.taxGroup) -}}
            {{- form_errors(form.taxGroup) -}}
        </div>
        {{- form_rest(form) -}}
    </div>
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_product_option_widget -%}


{%- block ekyna_product_option_group_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    <div class="ekyna-collection-item">
        {{- form_errors(form) -}}
        {{- form_row(form.name, {'label_col': 4, 'widget_col': 8}) -}}
        <div class="row">
            <div class="col-md-6">
                {{- form_row(form.required, {'label_col': 4, 'widget_col': 8}) -}}
            </div>
            <div class="col-md-6">
                {{- form_row(form.fullTitle, {'label_col': 4, 'widget_col': 8}) -}}
            </div>
        </div>
        {{- form_row(form.translations, {'label_col': 0, 'widget_col': 12}) -}}
        {{- form_rest(form) -}}
    </div>
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_product_option_group_widget -%}


{%- block ekyna_product_pricing_widget -%}
<div class="ekyna-collection-item">
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    {{- form_errors(form) -}}
    {{- form_row(form.groups, {'label_col': 2, 'widget_col': 10}) -}}
    {{- form_row(form.countries, {'label_col': 2, 'widget_col': 10}) -}}
    {{- form_row(form.rules, {'label_col': 2, 'widget_col': 10}) -}}
    {{- form_rest(form) -}}
    {{- bootstrap_restore_form_settings() -}}
</div>
{%- endblock ekyna_product_pricing_widget -%}


{%- block ekyna_product_pricing_rule_widget -%}
    {{- form_errors(form) -}}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.minQuantity, {'label_col': 4, 'widget_col': 8, 'sizing': 'sm'}) -}}
        </div>
        <div class="col-md-6">
            {{- form_row(form.percent, {'label_col': 4, 'widget_col': 8, 'sizing': 'sm'}) -}}
        </div>
    </div>
    {{- form_rest(form) -}}
{%- endblock ekyna_product_pricing_rule_widget -%}


{%- block ekyna_product_reference_widget -%}
    {{- form_errors(form) -}}
    <div class="row">
        <div class="col-md-6">
            {{- form_widget(form.type, {'sizing': 'sm'}) -}}
            {{- form_errors(form.type) -}}
        </div>
        <div class="col-md-6">
            {{- form_widget(form.code, {'sizing': 'sm'}) -}}
            {{- form_errors(form.code) -}}
        </div>
    </div>
    {{- form_rest(form) -}}
{%- endblock ekyna_product_reference_widget -%}


{%- block ekyna_product_special_offer_widget -%}
<div class="ekyna-collection-item">
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    {{- form_errors(form) -}}
    <div class="row">
        <div class="col-md-4">
            {{- form_row(form.percent, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
        <div class="col-md-4">
            {{- form_row(form.minQuantity, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
        <div class="col-md-4">
            {{- form_row(form.stack, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{- form_row(form.startsAt, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
        <div class="col-md-4">
            {{- form_row(form.endsAt, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
        <div class="col-md-4">
            {{- form_row(form.enabled, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
    </div>
    {{- form_row(form.groups, {'label_col': 2, 'widget_col': 10}) -}}
    {{- form_row(form.countries, {'label_col': 2, 'widget_col': 10}) -}}
    {{- form_rest(form) -}}
    {{- bootstrap_restore_form_settings() -}}
</div>
{%- endblock ekyna_product_special_offer_widget -%}


{%- block ekyna_product_inventory_resupply_widget -%}
    {{- render_subjects_stock([product]) -}}
    <hr>
    {{- bootstrap_set_style('horizontal') -}}
    {{- bootstrap_set_col_size('md') -}}
    {{- form_errors(form) -}}
    {{- form_widget(form.supplierProduct, {'widget_col': 12}) -}}
    {{- form_errors(form.supplierProduct) -}}
    <div class="row">
        <div class="col-md-4">
            {{- form_row(form.quantity, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
        <div class="col-md-4">
            {{- form_row(form.netPrice, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
        <div class="col-md-4">
            {{- form_row(form.estimatedDateOfArrival, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
    </div>
    {{- form_rest(form) -}}
{%- endblock ekyna_product_inventory_resupply_widget -%}


{%- block ekyna_product_inventory_resupply_products_widget -%}
    <table class="table table-condensed table-alt-head supplier-products">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{{ 'supplier.label.singular'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.buy_net_price'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'supplier_product.field.available'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'supplier_product.field.ordered'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'supplier_product.field.eda'|trans({}, 'EkynaCommerce') }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {%- for child in form.children -%}
            {{- form_widget(child) -}}
        {%- endfor -%}
        </tbody>
    </table>
{%- endblock ekyna_product_inventory_resupply_products_widget -%}


{%- block ekyna_product_inventory_resupply_product_widget -%}
    <tr>
        <td>
            {{- form_widget(form.choice) -}}
            {{- form_errors(form.choice) -}}
        </td>
        <td>
            <a href="{{ admin_resource_path(supplierProduct.supplier) }}" target="_blank">
                {{- supplierProduct.supplier.name -}}
            </a>
        </td>
        <td>
            <a href="{{ admin_resource_path(supplierProduct) }}" target="_blank">
                {{- supplierProduct.designation -}}
            </a>
        </td>
        <td>{{ supplierProduct.reference }}</td>
        <td>{{ supplierProduct.netPrice|format_currency(supplierProduct.supplier.currency.code) }}</td>
        <td>{{ supplierProduct.availableStock|format_number }}</td>
        <td>{{ supplierProduct.orderedStock|format_number }}</td>
        <td>
            {%- if supplierProduct.estimatedDateOfArrival is not same as(null) -%}
                {{- supplierProduct.estimatedDateOfArrival|format_datetime('short', 'none') -}}
            {%- endif -%}
        </td>
    </tr>
    <tr id="supplier_product_{{ supplierProduct.id }}_details" class="supplier-product-details" style="display:none;">
        <td>&nbsp;</td>
        <td colspan="6">
            {{- form_widget(form.supplierOrder, {'widget_col': 12}) -}}
            {{- form_errors(form.supplierOrder) -}}
        </td>
    </tr>
{%- endblock ekyna_product_inventory_resupply_product_widget -%}


{%- block ekyna_product_inventory_resupply_orders_widget -%}
    <table class="table table-condensed table-alt-head supplier-orders">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'supplier_order.field.shipping_cost'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'supplier_order.field.payment_total'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'supplier_product.field.eda'|trans({}, 'EkynaCommerce') }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {%- for child in form.children -%}
            {{- form_widget(child) -}}
        {%- endfor -%}
        </tbody>
    </table>
{%- endblock ekyna_product_inventory_resupply_orders_widget -%}


{%- block ekyna_product_inventory_resupply_order_widget -%}
    <tr>
        <td>{{ form_widget(form) }}</td>
        {%- if supplierOrder is not same as(null) -%}
        <td>
            <a href="{{ admin_resource_path(supplierOrder) }}" target="_blank">
                {{- supplierOrder.number -}}
            </a>
        </td>
        <td>{{ supplierOrder.shippingCost|format_currency(supplierOrder.supplier.currency.code) }}</td>
        <td>{{ supplierOrder.paymentTotal|format_currency(supplierOrder.supplier.currency.code) }}</td>
        <td>
            {%- if supplierOrder.estimatedDateOfArrival is not same as(null) -%}
                {{- supplierOrder.estimatedDateOfArrival|format_datetime('short', 'none') -}}
            {%- endif -%}
        </td>
        <td>
            <a href="javascript:void(0)" data-toggle-details="supplier_order_{{ supplierOrder.id }}_details">
                <i class="fa fa-info-circle"></i>
            </a>
        </td>
        {%- else -%}
        <td colspan="5">{{ 'supplier_order.button.new'|trans({}, 'EkynaCommerce') }}</td>
        {%- endif -%}
    </tr>
    {%- if supplierOrder is not same as(null) -%}
    <tr id="supplier_order_{{ supplierOrder.id }}_details" class="supplier-order-details" style="display:none;">
        <td>&nbsp;</td>
        <td colspan="5">{% include '@EkynaCommerce/Admin/SupplierOrder/Show/items.html.twig' %}</td>
    </tr>
    {%- endif -%}
{%- endblock ekyna_product_inventory_resupply_order_widget -%}


{%- block ekyna_product_convert_media_choice_widget -%}
    {{- form_errors(form) -}}
    {%- for child in form.children -%}
        <label for="{{ child.vars.id }}" style="display:inline-block; margin:0 15px 15px 0;position:relative;">
            {%- if child.vars.media is not same as(null) -%}
                {{- child.vars.media|media_thumb -}}
            {%- endif -%}
            <span style="position:absolute;top:0;right:0;background-color:#f5f5f5;border-bottom-left-radius:4px;line-height:0;padding:5px;">
                {{- form_widget(child) -}}
            </span>
            {%- if child.vars.media is same as(null) -%}
                {{- child.vars.label -}}
            {%- endif -%}
        </label>
    {%- endfor -%}
    {{- form_rest(form) -}}
{%- endblock ekyna_product_convert_media_choice_widget -%}
