{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}


{% block ekyna_product_attribute_slot_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.group) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.multiple) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.required) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_attribute_slot_widget %}


{% block ekyna_product_bundle_slot_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {#{% if configurable %}

    {% else %}

    {% endif %}#}
    {% if form.translations is defined %}
        {{ form_row(form.translations, {'widget_col': 12}) }}
    {% endif %}
    {{ form_row(form.choices, {'widget_col': 12}) }}
    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_bundle_slot_widget %}


{% block ekyna_product_bundle_choice_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {{ form_row(form.product, {'label_col': 2, 'widget_col': 10}) }}
    {% if configurable %}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.minQuantity, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.maxQuantity, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.rules, {'label_col': 2, 'widget_col': 10}) }}
        {{ form_widget(form.position) }}
    {% else %}
        {{ form_row(form.quantity, {'label_col': 2, 'widget_col': 10}) }}
    {% endif %}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_bundle_choice_widget %}


{% block ekyna_product_bundle_choice_rule_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(form.type) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form.expression) }}
        </div>
    </div>
    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_bundle_choice_rule_widget %}


{% block ekyna_product_configurable_slots_widget %}
{% spaceless %}
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock ekyna_product_configurable_slots_widget %}


{% block ekyna_product_configurable_slot_widget %}
{% spaceless %}
    {# TODO form_errors(form) #}
    <div class="row product-configurable-slot">
        <div class="col-md-6 col-md-push-6">
            <div class="slot-info">
                <h3 class="slot-title">{{ form.vars.slot_title }}</h3>
                <div class="slot-description">{{ form.vars.slot_description|raw }}</div>
            </div>
            <div class="choice-info">
                <h2 class="choice-title"></h2>
                <div class="choice-description"></div>
                <div class="row">
                    <div class="col-xs-4">
                        <span class="choice-price"></span>
                    </div>
                    <div class="col-xs-8">
                        {{ form_row(form.quantity, {'label_col': 6, 'widget_col': 6}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6 choices">
            <a href="javascript: void(0)" class="prev">
                <span class="fa fa-arrow-left"></span>
            </a>
            <a href="javascript: void(0)" class="next">
                <span class="fa fa-arrow-right"></span>
            </a>
            <ul>
            {% for child in form.subject %}
                <li>
                    <img src="{{ asset('bundles/ekynaproduct/img/no-image.gif') }}" class="img-responsive">
                    <p>
                        {{ form_widget(child) }}
                    </p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endspaceless %}
{% endblock ekyna_product_configurable_slot_widget %}


{% block ekyna_product_option_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row form-group">
        <div class="col-md-12">
            {{ form_widget(form.designation) }}
        </div>
    </div>
    {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
    <div class="row form-group">
        <div class="col-md-6">
            {{ form_widget(form.reference) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.weight) }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            {{ form_widget(form.netPrice) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.taxGroup) }}
        </div>
    </div>
    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_option_widget %}


{% block ekyna_product_option_group_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.required, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_option_group_widget %}


{% block ekyna_product_reference_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.type) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.number) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_reference_widget %}

