{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}


{% block ekyna_product_attribute_slot_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.group) }}
            {{ form_errors(form.group) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.multiple) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.required) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_attribute_slot_widget %}


{% block ekyna_product_bundle_slot_widget %}
{% spaceless %}
    <div class="ekyna-collection-item">
        {{ form_errors(form) }}
        {% if form.vars.configurable %}
            {{ form_row(form.translations, {'widget_col': 12}) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.media, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.required, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
        {% endif %}
        {{ form_row(form.choices, {'widget_col': 12}) }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock ekyna_product_bundle_slot_widget %}


{% block ekyna_product_bundle_choice_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    <div class="ekyna-collection-item">
        {{ form_errors(form) }}
        {{ form_row(form.product, {'label_col': 2, 'widget_col': 10}) }}
        {% if configurable %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.minQuantity, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.maxQuantity, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {{ form_row(form.rules, {'label_col': 2, 'widget_col': 10}) }}
        {% else %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.quantity, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.useOptions, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
        {% endif %}
        {{ form_rest(form) }}
    </div>
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_product_bundle_choice_widget %}


{% block ekyna_product_bundle_choice_rule_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(form.type, {'sizing': 'sm'}) }}
            {{ form_errors(form.type, {'sizing': 'sm'}) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form.expression, {'sizing': 'sm'}) }}
            {{ form_errors(form.expression, {'sizing': 'sm'}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_bundle_choice_rule_widget %}


{% block ekyna_product_option_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    <div class="ekyna-collection-item product-option">
        {{ form_errors(form) }}
        <div class="row form-group">
            <div class="col-md-6">
                {{ form_widget(form.mode) }}
                {{ form_errors(form.mode) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.netPrice) }}
                {{ form_errors(form.netPrice) }}
            </div>
        </div>
        <div class="option-product option-wrapper">
            {{ form_widget(form.product) }}
            {{ form_errors(form.product) }}
        </div>
        <div class="option-data option-wrapper">
            <div class="row form-group">
                <div class="col-md-12">
                    {{ form_widget(form.designation) }}
                    {{ form_errors(form.designation) }}
                </div>
            </div>
            {{ form_widget(form.translations, {'label_col': 0, 'widget_col': 12}) }}
            <div class="row form-group">
                <div class="col-md-6">
                    {{ form_widget(form.reference) }}
                    {{ form_errors(form.reference) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.weight) }}
                    {{ form_errors(form.weight) }}
                </div>
            </div>
            {{ form_widget(form.taxGroup) }}
            {{ form_errors(form.taxGroup) }}
        </div>
        {{ form_rest(form) }}
    </div>
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_product_option_widget %}


{% block ekyna_product_option_group_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    <div class="ekyna-collection-item">
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.required, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
        {{ form_rest(form) }}
    </div>
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_product_option_group_widget %}


{% block ekyna_product_pricing_rule_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.minQuantity, {'label_col': 4, 'widget_col': 8, 'sizing': 'sm'}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.percent, {'label_col': 4, 'widget_col': 8, 'sizing': 'sm'}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_pricing_rule_widget %}


{% block ekyna_product_reference_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.type, {'sizing': 'sm'}) }}
            {{ form_errors(form.type) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.number, {'sizing': 'sm'}) }}
            {{ form_errors(form.number) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_reference_widget %}


{% block ekyna_product_inventory_resupply_widget %}
{% spaceless %}
    {{ render_subjects_stock([product]) }}
    <hr>
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    {{ form_widget(form.supplierProduct, {'widget_col': 12}) }}
    {{ form_errors(form.supplierProduct) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.quantity, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.netPrice, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.estimatedDateOfArrival, {'label_col': 6, 'widget_col': 6}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_inventory_resupply_widget %}


{% block ekyna_product_inventory_resupply_products_widget %}
{% spaceless %}
    <table class="table table-condensed supplier-products">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{{ 'ekyna_commerce.supplier.label.singular'|trans }}</th>
            <th>{{ 'ekyna_core.field.designation'|trans }}</th>
            <th>{{ 'ekyna_core.field.reference'|trans }}</th>
            <th>{{ 'ekyna_commerce.supplier_product.field.net_price'|trans }}</th>
            <th>{{ 'ekyna_commerce.supplier_product.field.available'|trans }}</th>
            <th>{{ 'ekyna_commerce.supplier_product.field.ordered'|trans }}</th>
            <th>{{ 'ekyna_commerce.supplier_product.field.eda'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for child in form.children -%}
            {{- form_widget(child) -}}
        {%- endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock ekyna_product_inventory_resupply_products_widget %}


{% block ekyna_product_inventory_resupply_product_widget %}
{% spaceless %}
    <tr>
        <td>
            {{ form_widget(form.choice) }}
            {{ form_errors(form.choice) }}
        </td>
        <td>
            <a href="{{ admin_resource_path(supplierProduct.supplier) }}" target="_blank">
                {{- supplierProduct.supplier.name -}}
            </a>
        </td>
        <td>
            <a href="{{ admin_resource_path(supplierProduct) }}" target="_blank">
                {{- supplierProduct.designation -}}
            </a>
        </td>
        <td>{{ supplierProduct.reference }}</td>
        <td>{{ supplierProduct.netPrice|localizedcurrency(supplierProduct.supplier.currency.code) }}</td>
        <td>{{ supplierProduct.availableStock|localizednumber() }}</td>
        <td>{{ supplierProduct.orderedStock|localizednumber() }}</td>
        <td>
            {%- if supplierProduct.estimatedDateOfArrival is not same as(null) -%}
                {{- supplierProduct.estimatedDateOfArrival|localizeddate('short', 'none') -}}
            {%- endif -%}
        </td>
    </tr>
    <tr id="supplier_product_{{ supplierProduct.id }}_details" class="supplier-product-details" style="display:none;">
        <td>&nbsp;</td>
        <td colspan="6">
            {{ form_widget(form.supplierOrder, {'widget_col': 12}) }}
            {{ form_errors(form.supplierOrder) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock ekyna_product_inventory_resupply_product_widget %}


{% block ekyna_product_inventory_resupply_orders_widget %}
{% spaceless %}
    <table class="table table-condensed supplier-orders">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{{ 'ekyna_core.field.number'|trans }}</th>
            <th>{{ 'ekyna_commerce.supplier_order.field.shipping_cost'|trans }}</th>
            <th>{{ 'ekyna_commerce.supplier_order.field.payment_total'|trans }}</th>
            <th>{{ 'ekyna_commerce.supplier_product.field.eda'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {%- for child in form.children -%}
            {{- form_widget(child) -}}
        {%- endfor -%}
        </tbody>
    </table>
{% endspaceless %}
{% endblock ekyna_product_inventory_resupply_orders_widget %}


{% block ekyna_product_inventory_resupply_order_widget %}
{% spaceless %}
    <tr>
        <td>{{ form_widget(form) }}</td>
        {%- if supplierOrder is not same as(null) -%}
        <td>
            <a href="{{ admin_resource_path(supplierOrder) }}" target="_blank">
                {{- supplierOrder.number -}}
            </a>
        </td>
        <td>{{ supplierOrder.shippingCost|localizedcurrency(supplierOrder.supplier.currency.code) }}</td>
        <td>{{ supplierOrder.paymentTotal|localizedcurrency(supplierOrder.supplier.currency.code) }}</td>
        <td>
            {%- if supplierOrder.estimatedDateOfArrival is not same as(null) -%}
                {{- supplierOrder.estimatedDateOfArrival|localizeddate('short', 'none') -}}
            {%- endif -%}
        </td>
        <td>
            <a href="javascript:void(0)" data-toggle-details="supplier_order_{{ supplierOrder.id }}_details">
                <i class="fa fa-info-circle"></i>
            </a>
        </td>
        {%- else -%}
        <td colspan="5">{{ 'ekyna_commerce.supplier_order.button.new'|trans }}</td>
        {%- endif -%}
    </tr>
    {%- if supplierOrder is not same as(null) -%}
    <tr id="supplier_order_{{ supplierOrder.id }}_details" class="supplier-order-details" style="display:none;">
        <td>&nbsp;</td>
        <td colspan="5">{% include "EkynaCommerceBundle:Admin/SupplierOrder/Show:items.html.twig" %}</td>
    </tr>
    {%- endif -%}
{% endspaceless %}
{% endblock ekyna_product_inventory_resupply_order_widget %}


{% block ekyna_product_convert_media_choice_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {% for child in form.children %}
        <label for="{{ child.vars.id }}" style="display:inline-block; margin:0 15px 15px 0;position:relative;">
            {% if child.vars.media is not same as(null) %}
                {{ child.vars.media|media_thumb }}
            {% endif %}
            <span style="position:absolute;top:0;right:0;background-color:#f5f5f5;border-bottom-left-radius:4px;line-height:0;padding:5px;">
                {{ form_widget(child) }}
            </span>
            {% if child.vars.media is same as(null) %}
                {{ child.vars.label }}
            {% endif %}
        </label>
    {% endfor %}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_product_convert_media_choice_widget %}
