{% block sale_item_configurable_slots_widget %}
    <div id="{{ form.vars.id }}" class="sale-item-bundle-slots">
        {%- for child in form %}{{ form_widget(child) }}{% endfor -%}
    </div>
{% endblock sale_item_configurable_slots_widget %}


{% block sale_item_configurable_slot %}
{% spaceless %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-4">
            <h3 class="product-title">
                {%- if itemForm.vars.choice_brand is not empty %}<strong>{{ itemForm.vars.choice_brand }}</strong>{% endif %}
                {{ itemForm.vars.choice_product|raw -}}
            </h3>
            <div class="product-description">
                {%- if itemForm.vars.choice_reference is not empty -%}
                <strong>SKU:&nbsp;{{ itemForm.vars.choice_reference }}</strong>
                {%- endif -%}
                {%- if itemForm.vars.choice_description is empty -%}
                    &nbsp;
                {%- else -%}
                    {{- itemForm.vars.choice_description|truncate_html(128)|raw -}}
                {%- endif -%}
            </div>

            {%- if itemForm.quantity is defined -%}
                {%- form_theme itemForm _self -%}
                {%- if itemForm.variant is defined -%}
                    {{- form_row(itemForm.variant) -}}
                {%- endif -%}

                {%- if itemForm.options is defined -%}
                    {{- form_widget(itemForm.options) -}}
                {%- endif -%}
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group{# form-group-sm#}">
                            {{- bootstrap_backup_form_settings() -}}
                            {{- bootstrap_set_label_col(6) -}}
                            {{- bootstrap_set_widget_col(6) -}}
                            {{- form_label(itemForm.quantity) -}}
                            <div class="col-sm-6">
                                <div class="input-group{# input-group-sm#}">
                                    {{- form_widget(itemForm.quantity, {'attr': {'class': 'sale-item-quantity'}}) -}} {# input-sm #}
                                </div>
                            </div>
                            {{- bootstrap_restore_form_settings() -}}
                            <div class="col-xs-12 sale-item-availability"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group sale-item-pricing">
                            <label class="control-label col-sm-4">{{ 'ekyna_product.sale_item_configure.total_price'|trans }}</label>
                            <div class="col-sm-8">
                                <span class="form-control" id="{{ form.vars.id }}_pricing"></span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {%- if itemForm.quantity is defined -%}
        <div class="col-sm-4 col-sm-pull-8">
            <div class="item-gallery" id="{{ itemForm.vars.id }}_gallery">
                <a href="{{ asset(itemForm.vars.choice_image) }}"
                   title="{{ itemForm.vars.choice_brand ~ ' ' ~ itemForm.vars.choice_product }}">
                    <img src="{{ asset(itemForm.vars.choice_thumb) }}">
                </a>
                <div class="item-gallery-children"></div>
            </div>
        </div>
        {%- endif -%}
    </div>
{% endspaceless %}
{% endblock sale_item_configurable_slot %}


{% block sale_item_configurable_slot_widget %}
{% spaceless %}
    {# TODO form_errors(form) #}
    <div class="bundle-slot">
        <div class="slot-info">
            {%- if form.vars.slot_media is not same as(null) -%}
                <span class="slot-thumb">
                {% if form.vars.slot_media is media_svg %}
                    {{ form.vars.slot_media|media_svg }}
                {% else %}
                    {{ form.vars.slot_media|media_image({'filter': 'slot_thumb'}) }}
                {% endif %}
                </span>
            {%- endif -%}
            {%- if 1 < form.choice.children|length -%}
            <ul class="slot-buttons">
                {%- for child in form.choice -%}
                <li>
                    {{- form_widget(child, {'attr': {'data-index': loop.index0}}) -}}
                    <label for="{{ child.vars.id }}" title="{{ child.vars.choice_brand }} {{ child.vars.choice_product }}">
                        <img src="{{ asset(child.vars.choice_image) }}" width="42" height="42">
                    </label>
                </li>
                {%- endfor -%}
            </ul>
            {%- else -%}
            {{- form_widget(form.choice.children|first, {'attr': {'data-index': 0}}) -}}
            {%- endif -%}
            <h4 class="slot-title">{{ form.vars.slot_title }}</h4>
            <div class="slot-description">{{ form.vars.slot_description|raw }}</div>
        </div>
        <div class="slot-choices{% if 1 == form.choice.children|length %} single-choice{% endif %}">
            {%- if 1 < form.choice.children|length -%}
            <a href="javascript: void(0)" class="prev">
                <span class="fa fa-chevron-left"></span>
            </a>
            <a href="javascript: void(0)" class="next">
                <span class="fa fa-chevron-right"></span>
            </a>
            {%- endif -%}
            <fieldset id="{{ form.vars.id }}" class="slot-choice-form" data-id="{{ form.vars.choice_id }}"
                      data-config='{{ form.vars.config|json_encode_data|raw }}'>
                {%- set itemForm = form -%}
                {{- block('sale_item_configurable_slot') -}}
            </fieldset>
            {%- for itemForm in form.vars.choices_forms -%}
            <fieldset id="{{ itemForm.vars.id }}" class="slot-choice-form" style="display:none;" disabled="disabled"
                      data-id="{{ itemForm.vars.choice_id }}" data-config='{{ itemForm.vars.config|json_encode_data|raw }}'>
                {{- block('sale_item_configurable_slot')|replace({'BUNDLE_CHOICE_NAME': form.vars.full_name})|raw -}}
            </fieldset>
            {%- endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock sale_item_configurable_slot_widget %}


{% block sale_item_option_groups_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% set sizing = sizing|default(bootstrap_get_sizing()) %}
        {% for child in form %}
        <div class="form-group{% if sizing in ['sm', 'lg'] %} form-group-{{ sizing }}{% endif %}"
             data-id="{{ child.vars.group_id }}" data-type="{{ child.vars.group_type }}">
            {{- form_label(child) -}}
            <div class="col-sm-9">
                <div class="input-group">
                    {{- form_widget(child.choice, {'label_col': 0, 'widget_col': 12}) -}}
                    <span class="input-group-addon sale-item-info">&nbsp;</span>
                </div>
                {{- form_errors(child.choice) -}}
            </div>
        </div>
        {% endfor %}
        {{- form_rest(form) -}}
    </div>
{% endspaceless %}
{% endblock sale_item_option_groups_widget %}


{% block sale_item_variant_widget %}
{% spaceless %}
    <div class="input-group">
        {{- block('choice_widget') -}}
        <span class="input-group-addon sale-item-info">&nbsp;</span>
    </div>
{% endspaceless %}
{% endblock sale_item_variant_widget %}


{% block sale_item_configure_widget %}
{% spaceless %}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_style('horizontal') -}}
    {{- bootstrap_set_col_size('sm') -}}
    {{- bootstrap_set_label_col(3) -}}
    {{- bootstrap_set_widget_col(9) -}}

    {%- if form.configuration is defined -%}
        {{- form_widget(form.configuration) -}}
    {%- endif %}

    <div class="sale-item-inner{% if form.configuration is defined %} sale-item-footer{% endif %}">
        {%- if form.vars.extended and form.configuration is not defined -%}
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <h3 class="product-title">
                    <strong>{{ form.vars.brand }}</strong> {{ form.vars.product -}}
                </h3>
                <div class="product-description">
                    {{- form.vars.description|truncate_html(128)|raw -}}
                </div>
        {% endif %}

        {% if form.vars.subject is bundle_product -%}
            {% set bundle_products = form.vars.subject|bundle_visible_products -%}
            {% if bundle_products is not empty -%}
            <div class="sale-item-bundle">
                <p>{{ 'ekyna_product.sale_item_configure.bundle'|trans }}</p>
                <table class="table table-condensed">
                    <colgroup>
                        <col width="0%"/>
                        <col width="100%"/>
                        <col width="0%"/>
                    </colgroup>
                    {% for bundle_product in bundle_products -%}
                    <tr>
                        <td>{{- bundle_product.quantity|localizednumber -}}x</td>
                        <td class="designation">
                            {% set path = bundle_product.product|subject_public_url -%}
                            {% if path is not empty -%}
                            <a href="{{ path }}" title="{{ bundle_product.product.fullDesignation(true) }}">
                            {%- endif -%}
                                {{- bundle_product.product.fullDesignation(true) -}}
                            {% if path is not empty %}</a>{% endif -%}
                        </td>
                        <td class="hidden-xs" data-clipboard-copy="{{ bundle_product.product.reference }}">
                            {{- bundle_product.product.reference -}}
                        </td>
                    </tr>
                    {%- endfor %}
                </table>
            </div>
            {%- endif %}
        {%- endif %}

        {%- if form.variant is defined -%}
            {{- form_row(form.variant) -}}
        {%- endif -%}

        {%- if form.options is defined -%}
            {{- form_widget(form.options) -}}
        {%- endif -%}

        <div class="row">
            {{- bootstrap_set_label_col(6) -}}
            <div class="col-sm-6">
                <div class="form-group">
                    {{- form_label(form.quantity, null) -}}
                    <div class="col-sm-6">
                        {{- form_widget(form.quantity) -}}
                    </div>
                    <div class="sale-item-availability"></div>
                </div>
            {% if form.vars.has_offers %}
                <div class="form-group sale-item-pricing inline">
                    <div class="col-sm-12">
                        <span class="form-control">
                            {{ 'ekyna_product.sale_item_configure.total_price'|trans }}&nbsp;<span id="{{ form.vars.id }}_pricing"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sale-item-offers" id="{{ form.vars.id }}_offers"></div>
            {% else %}
            </div>
            <div class="col-sm-6">
                <div class="form-group sale-item-pricing">
                    <label class="control-label col-sm-4">{{ 'ekyna_product.sale_item_configure.total_price'|trans }}</label>
                    <div class="col-sm-8">
                        <span class="form-control" id="{{ form.vars.id }}_pricing"></span>
                    </div>
                </div>
            </div>
            {% endif %}
            {{- bootstrap_set_label_col(3) -}}
        </div>

        {%- if form.vars.extended and form.configuration is not defined -%}
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <div class="item-gallery" id="{{ form.vars.id }}_gallery">
                    <a href="{{ asset(form.vars.image) }}"
                       title="{{ form.vars.brand ~ ' ' ~ form.vars.product }}">
                        <img src="{{ asset(form.vars.thumb) }}">
                    </a>
                    <div class="item-gallery-children"></div>
                </div>
            </div>
        </div>{# End .row #}
        {%- endif -%}

        {{- form_errors(form) -}}

        {%- if form.vars.submit_button -%}
        <p class="text-center">
            <button type="submit" id="{{ form.vars.id }}_submit" class="btn btn-primary">
                <i class="fa fa-shopping-cart"></i> {{ 'ekyna_commerce.cart.button.add'|trans }}
            </button>
        </p>
        {%- endif %}
    </div>{# End .sale-item-inner #}

    {{- form_rest(form) -}}
{% endspaceless %}
{% endblock sale_item_configure_widget %}
