{% block sale_item_option_groups_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <div class="form-group" data-id="{{ child.vars.group_id }}" data-type="{{ child.vars.group_type }}">
                {{ form_label(child) }}
                <div class="col-xs-10">
                    {{ form_widget(child.choice, {'label_col': 0, 'widget_col': 12}) }}
                    {{ form_errors(child.choice) }}
                </div>
            </div>
        {% endfor %}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock sale_item_option_groups_widget %}


{% block sale_item_pricing %}
{% spaceless %}
    <div class="row">
        <div class="col-xs-6">
            {{ form_row(form.quantity, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-xs-6">
            <div class="form-group" id="{{ form.vars.id }}_pricing" style="display: none;">
                <label class="control-label col-xs-4" for="{{ form.vars.id }}_price">
                    {{ 'ekyna_core.field.price'|trans }}
                </label>
                <div class="col-xs-8">
                    {% set pricing = form.vars.pricing %}
                    {% if 0 < pricing.rules|length -%}
                    <div class="input-group">
                        <span class="form-control" id="{{ form.vars.id }}_price_total"></span>
                        <div class="input-group-btn dropup">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li id="{{ form.vars.id }}_price_help"></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <span class="form-control" id="{{ form.vars.id }}_price_total"></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            {{ form_row(form.submit, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}


{% block sale_item_subject_configure_widget %}
{% spaceless %}
<div class="form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('xs') }}

    {{ form_errors(form) }}

    {% if form.variant is defined %}
        {{ form_row(form.variant) }}
    {% elseif form.configuration is defined %}
        {{ form_widget(form.configuration) }}
    {% endif %}

    {% if form.options is defined %}
        {{ form_widget(form.options) }}
        <hr>
    {% endif %}

    {{ block('sale_item_pricing') }}

    {#<div id="{{ form.vars.id }}_pricing" class="row">
        <div class="col-xs-6">
            {{ form_row(form.quantity, {'label_col': 4, 'widget_col': 8}) }}
            {% if 0 < pricing.rules|length %}
                <div class="form-group sale-item-price" style="display: none;">
                    <label class="control-label col-xs-4" for="sale_item_subject_configure_price">
                        {{ 'ekyna_core.field.price'|trans }}
                    </label>
                    <div class="col-xs-8">
                        <p id="sale_item_subject_configure_price" class="form-control-static sale-item-price-total"></p>
                        <p class="help-block">
                            {{ 'ekyna_product.sale_item_configure.unit_net_price'|trans }}<br>
                            <em class="sale-item-price-help"></em>
                        </p>
                    </div>
                </div>
            {% endif %}
            {{ form_row(form.submit, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-xs-6">
            {% if 0 < pricing.rules|length %}
                <table class="table table-striped table-condensed sale-item-rules" style="display: none;">
                    <thead>
                    <tr>
                        <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
                        <th>{{ 'ekyna_product.sale_item_configure.discount'|trans }}</th>
                        <th>{{ 'ekyna_product.sale_item_configure.unit_net_price'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set rules = pricing.rules|reverse %}
                    {% for rule in rules %}
                        <tr data-quantity="{{ rule.quantity }}" data-percent="{{ rule.percent }}">
                            <td>
                                {% if loop.last %}
                                    {{ 'ekyna_product.sale_item_configure.from'|trans({'{{min}}': rule.quantity}) }}
                                {% else %}
                                    {{ 'ekyna_product.sale_item_configure.range'|trans({
                                        '{{min}}': rule.quantity,
                                        '{{max}}': (rules[loop.index0 + 1].quantity -1)
                                    }) }}
                                {% endif %}
                            </td>
                            <td>{{ rule.percent }}%</td>
                            <td>{{ (pricing.net_price * (100 - rule.percent) / 100)|localizedcurrency(pricing['currency']) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="form-group sale-item-price" style="display: none;">
                    <label class="control-label col-xs-4" for="sale_item_subject_configure_price">
                        {{ 'ekyna_core.field.price'|trans }}
                    </label>
                    <div class="col-xs-8">
                        <p id="sale_item_subject_configure_price" class="form-control-static sale-item-price-total"></p>
                        <p class="help-block">
                            {{ 'ekyna_product.sale_item_configure.unit_net_price'|trans }}
                            <em class="sale-item-price-help"></em>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>#}

    {{ form_rest(form) }}
</div>
{% endspaceless %}
{% endblock %}


