{% extends "email.html.twig" %}

{% block stylesheets %}
<style type="text/css">
    table { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
    td, th { font-size: 13px; padding: 2px 4px; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }
    td.right { text-align: right; }
    td.alert { background-color: #ffddcc; }
</style>
{% endblock stylesheets %}

{% block width %}1200{% endblock %}

{% block subject %}{{ title }}{% endblock subject %}

{% block body %}
{% apply spaceless %}
<table border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>
                {{- 'field.designation'|trans({}, 'EkynaUi') -}}
            </th>
            <th>
                {{- 'field.reference'|trans({}, 'EkynaUi') -}}
            </th>
            <th>
                {{- 'field.geocode'|trans({}, 'EkynaCommerce') -}}
            </th>
            <th>
                {{- 'field.status'|trans({}, 'EkynaUi') -}}
            </th>
            <th>
                {{- 'stock_subject.field.floor'|trans({}, 'EkynaCommerce') -}}
            </th>
            <th>
                {{- 'field.in_stock'|trans({}, 'EkynaCommerce') -}}
            </th>
            <th>
                {{- 'field.available_stock'|trans({}, 'EkynaCommerce') -}}
            </th>
            <th>
                {{- 'field.virtual_stock'|trans({}, 'EkynaCommerce') -}}
            </th>
            <th>
                {{- 'field.replenishment_eda'|trans({}, 'EkynaCommerce') -}}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for product in products -%}
        <tr>
            <td>
                <a href="{{ url('admin_ekyna_product_product_read', {'productId': product.id}) }}">
                    {{- product.getFullTitle(true) -}}
                </a>
            </td>
            <td>
                {{- product.reference -}}
            </td>
            <td>
                {{- product.geocode -}}
            </td>
            <td>
                {{- product|stock_subject_state_label -}}
            </td>
            <td class="right">
                {{- product.stockFloor|format_number -}}
            </td>
            <td class="right">
                {{- product.inStock|format_number -}}
            </td>
            <td class="right">
                {{- product.availableStock|format_number -}}
            </td>
            <td class="right">
                {{- product.virtualStock|format_number -}}
            </td>
            {% if product.estimatedDateOfArrival is not empty -%}
            <td class="right{% if product.estimatedDateOfArrival <= today %} alert{% endif %}">
                {{- product.estimatedDateOfArrival|format_datetime('short', 'none', locale=locale) -}}
            </td>
            {%- else -%}
            <td>&nbsp;</td>
            {%- endif %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
{% endapply %}
{% endblock %}
