{% apply spaceless %}
<table border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>
                {{- 'ekyna_core.field.designation'|trans -}}
            </th>
            <th>
                {{- 'ekyna_core.field.reference'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.field.geocode'|trans -}}
            </th>
            <th>
                {{- 'ekyna_core.field.status'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.stock_subject.field.floor'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.field.in_stock'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.field.available_stock'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.field.virtual_stock'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.field.replenishment_eda'|trans -}}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for product in products -%}
        <tr>
            <td>
                <a href="{{ url('ekyna_product_product_admin_show', {'productId': product.id}) }}">
                    {{- product.getFullTitle(true) -}}
                </a>
            </td>
            <td>
                {{- product.reference -}}
            </td>
            <td>
                {{- product.geocode -}}
            </td>
            <td>
                {{- product|stock_subject_state_label -}}
            </td>
            <td class="right">
                {{- product.stockFloor|localizednumber -}}
            </td>
            <td class="right">
                {{- product.inStock|localizednumber -}}
            </td>
            <td class="right">
                {{- product.availableStock|localizednumber -}}
            </td>
            <td class="right">
                {{- product.virtualStock|localizednumber -}}
            </td>
            <td class="right">
                {%- if product.estimatedDateOfArrival is not empty -%}
                    {{ product.estimatedDateOfArrival|localizeddate('short', 'none', locale) }}
                {%- endif -%}
            </td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
{% endapply %}
