<div class="form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}

    {{ form_errors(form) }}

    {% if form.option_group_selection is defined %}
        {{ form_row(form.option_group_selection) }}
    {% endif %}

    {{ form_row(form.confirm) }}

    {{ form_rest(form) }}
</div>
