<div class="form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}

    {{ form_errors(form) }}

    {{ form_row(form.attributeSet) }}
    {{ form_row(form.variant.attributes) }}

    {% if form.option_group_selection is defined %}
        {{ form_row(form.option_group_selection) }}
    {% endif %}
    {% if form.media_selection is defined %}
        {{ form_row(form.media_selection) }}
    {% endif %}
    {% if form.tag_selection is defined %}
        {{ form_row(form.tag_selection) }}
    {% endif %}
    <hr>

    {{ form_rest(form) }}

</div>
