{%- set product_path = product|subject_public_url -%}
<div class="product-thumb">
    <a href="{{ product_path }}" class="title">
        {{- product.title -}}
    </a>
    {% set image = product|product_image %}
    <a href="{{ product_path }}" class="image">
        {% if image is not null %}
            <img class="img-responsive" src="{{ image.path|imagine_filter('product_slide') }}" alt="{{ image.title }}">
        {% else %}
            <img class="img-responsive" src="{{ product_default_image() }}" alt="{{ product.title }}">
        {% endif %}
    </a>
    <p class="status">
        {{- product|stock_subject_availability|raw -}}<br>
        {{- product|product_price|raw -}}
    </p>
    <a href="{{ product_path }}" class="btn btn-sm btn-default read-more">
        Read more
    </a>
    {% if product is configurable_product -%}
        {{ product|subject_add_to_cart_button({
            'class': 'btn btn-sm btn-primary',
            'add_to_cart': {'label': 'ekyna_product.cart.configure'}
        }) }}
    {%- else -%}
        {{ product|subject_add_to_cart_button({'class': 'btn btn-sm btn-primary'}) }}
    {%- endif %}
</div>
